@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html{
    font-size: 87.5%;
    font-family: 'Roboto', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body , select, input, textarea{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: $font-color;
}
h1 , .h1{
    font-size: px_to_em(32); 
}
h2, .h2{
    font-size: px_to_em(28); 
}
h3, .h3{
    font-size:px_to_em(24); 
}
h4 , .h4{
    font-size: px_to_em(20); 
}
h5 , .h5{
    font-size: px_to_em(18); 
}
h6 , .h6{
    font-size: px_to_em(16); 
}

.sub-title{
    font-weight: 500;
}
