//Container
// $container-padding-x: 0;

//Color
$theme-colors:(
    "primary":    #3e8d80,
    "secondary":  #F6A705,
    "success":    #37CD57,
    "info":       #32A8FF,
    "warning":    #EBA844,
    "danger":     #E94F4A,
    "light":      #fff,
    "dark":       #1a1a1a,
) !default;

//Pagination
$pagination-color: #3C466E;
$pagination-active-bg: #FB6602;
$pagination-hover-color: #3C466E;
$pagination-hover-bg: #D2DCF0;
.pagination{
    a{
        &:hover{
            text-decoration: none;
        }
    }
}

//Tooltip
$tooltip-bg : #FB6602;
.tooltip-inner{
    font-weight: 600;
}

//popover
$popover-header-bg: #FB6602;
$popover-header-color: white;
$popover-border-color: #D2DCF0;
.popover.show{
    .popover-header{
        font-weight: 600;
        border-bottom: none;
    }
}
//Dropdown
$dropdown-link-active-bg:#F7F9FC;
$dropdown-link-hover-bg: #EDF8F3;
$dropdown-link-active-color: #000;
.dropdown-item{
    font-weight: 500;
}
//alert
.alert-dismissible.alert-outlined {
    color: #3C466E;
    border: 1px solid #D2DCF0;
}

//Modal
$modal-footer-margin-between : 1rem;
$modal-inner-padding: 1rem;
$modal-header-padding:1rem;
$modal-footer-border-color: none;
$modal-footer-border-width:none ; 
$modal-content-border-radius: 0;
.modal{
    .modal-content{
        border: none;
    }
    .modal-footer{
        border-top: none;
    }
}

$table-cell-padding-x : 1rem;


$nav-tabs-link-active-bg : #F7F9FC;
$nav-tabs-link-active-color: #8F9BB3;