<template lang="pug">
.activitylist
  .d-flex.align-items-center.justify-content-end.mb-2.mt-3
    .btn.btn-append Download
  template(v-if="roles === '0'")    
    h5.mb-2 Client Admin
    DataTable(:value="clientadminactivities" :paginator="true" :rows="10" responsiveLayout="scroll")
      Column(field="CreateDate" header="Date" :sortable="true" filterMatchMode="startsWith")
      Column(field="Activity" header="Activities" :sortable="true" filterMatchMode="startsWith")
  h5.mb-2.mt-2 Client
  DataTable(:value="adminactivities" :paginator="true" :rows="10" responsiveLayout="scroll")
    Column(field="CreateDate" header="Date" :sortable="true" filterMatchMode="startsWith")
    Column(field="Activity" header="Activities" :sortable="true" filterMatchMode="startsWith")
</template>
<script>
export default {
  data() {
    return {
      roles: this.$cookies.get("Roles"),
    };
  },
  props: ["id"],
  created() {
    console.log("Created company id: " + this.$cookies.get("CompanyID"));
    console.log("Created User id: " + this.$cookies.get("UserID"));
    console.log("Created roles: " + this.$cookies.get("Roles"));
    console.log("Created company name: " + this.$cookies.get("CompanyName"));
  },
  computed: {
    clientadminactivities() {
      return this.$store.state.clientadminlog;
    },
    adminactivities() {
      return this.$store.state.clientlog;
    },
  },
  mounted() {
    this.$store.dispatch("getClientAdminLog", this.$cookies.get("UserID"));
    this.$store.dispatch("getClientLog", this.id);
  },
};
</script>
