<template lang="pug">
//- Notes
//- If operation level if Level 0 - Unipac , it shouldn't show in Client Admin Account
//- Remark is redundant in this case, no place to key in remark also
.cardlist
  h4.my-3 RFID Card List
  DataTable(:value="cards" editMode="row" dataKey="Cardid" v-model:editingRows="editingRows" @rowEditInit="onRowEditInit" @rowEditCancel="onRowEditCancel" :paginator="true" :rows="10" responsiveLayout="scroll"
    v-model:filters="filtersclients"  :loading="loadingclients"
    :globalFilterFields="['Cardid','Employee','Employeeid']" )
    template(#header)
      .form-group.append.search
        input.form-control(type='text' v-model="filtersclients['global'].value" placeholder="Keyword Search")
        i.cil-search
    template(#empty) No Card Found.
    template(#loading) Loading Card Data. Please wait.
    Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible" header="No")
      template(#body="rowIndex")
        | {{ rowIndex.index + 1 }}
    Column(field="Cardid" header="Card ID" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="Employeeid" header="Employee ID" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="Employee" header="Employee Name" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="Createdate" header="Assigned Date" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="Oplevel" header="Operation Level" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(:rowEditor="true" bodyStyle="text-align:right")
    Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible")
      template(#body ="slotProps")
        .d-flex
          .btn.btn-small.btn-danger.mx-2(v-on:click="RemoveCard(slotProps.data.Id)")
            i.cil-trash          
</template>
<script>
import { FilterMatchMode, FilterOperator } from "primevue/api";
export default {
  data() {
    return {
      timer: "",
      filtersclients: null,
      loadingclients: true,
      roles: this.$cookies.get("Roles"),
      editingCellRows: {},
      editingRows: [],
    };
  },
  originalRows: null,
  props: ["id"],
  created() {
    this.statecurrentcompany;
    this.fetchEventsList();
    this.timer = setInterval(this.fetchEventsList, 3000);
    this.initFiltersclients();
    this.originalRows = {};
  },
  computed: {
    cards() {
      return this.$store.state.cards;
    },
    statecurrentcompany: function (event) {
      this.$store.commit("SET_CurrentCompany", this.id);
    },
  },
  mounted() {
    this.$store.dispatch("getCardList", this.id);
    this.$store.dispatch("getEmployeeList", this.id);
    this.$store.dispatch("getManagerList", this.id);
    this.loadingclients = false;
  },
  methods: {
    fetchEventsList: function () {
      this.$store.dispatch("getCardList", this.$store.state.currentcompany);
      console.log(this.$store.state.currentcompany);
    },
    cancelAutoUpdate() {
      clearInterval(this.timer);
    },
    initFiltersclients() {
      this.filtersclients = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      };
    },
    onRowEditInit(event) {
      this.originalRows[event.index] = { ...this.cards[event.index] };
    },
    onRowEditCancel(event) {
      this.cards[event.index] = this.originalRows[event.index];
    },
    RemoveCard(val) {
      this.$confirm.require({
        message: "Are you sure you want to proceed?",
        header: "Confirmation",
        icon: "pi pi-exclamation-triangle",
        // accept: () => {
        //   //callback to execute when user confirms the action
        //   axios
        //     .post("https://localhost:44306/api/Company/RemoveAccess/" + val)
        //     .then((response) => {
        //       this.$toast.add({
        //         severity: "success",
        //         summary: "Success Message",
        //         detail: "Access Success Removed",
        //         life: 3000,
        //       });
        //       this.$store.dispatch("getCompanyInfo");
        //     });
        // },
        reject: () => {
          //callback to execute when user rejects the action
        },
      });
    },
  },
};
</script>
