<template lang="pug">
.clientlist
  .d-flex.align-items-center.justify-content-between
    h4.my-3 Clients List
  DataTable(:value="companylist" dataKey="Id" v-model:editingRows="editingRows"
                @rowEditInit="onRowEditInit" @rowEditCancel="onRowEditCancel" :paginator="true" :rows="10" responsiveLayout="scroll"
    v-model:filters="filtersclients"  :loading="loadingclients"
    :globalFilterFields="['CompanyName','CompanyAddress']" )
    template(#header)
      .form-group.append.search
        input.form-control(type='text' v-model="filtersclients['global'].value" placeholder="Keyword Search")
        i.cil-search
    template(#empty) No Client Found.
    template(#loading) Loading Client Data. Please wait.
    Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible" header="No")
      template(#body="rowIndex")
        | {{ rowIndex.index + 1 }}
    Column(field="CompanyName" header="Company " :sortable="true")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="MaxAccount" header="Max Slot" :sortable="true")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="Email" header="Email" :sortable="true")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="CompanyAddress" header="Address" :sortable="true")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: right; overflow: visible")
      template(#body ="slotProps")
          .d-flex
            .btn.btn-small.btn-success.mx-2(v-on:click="LocalCmu(slotProps.data)") Local CMU
    Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: right; overflow: visible")
      template(#body ="slotProps")
        .d-flex
          router-link(:to="{name: 'Activity Log', params:{id: slotProps.data.Id}}").btn.btn-small.btn-info.mx-2 
            i.cil-av-timer
          .btn.btn-small.btn-info.mx-2(v-on:click="EditBox(slotProps.data)")
            i.cil-pencil
          .btn.btn-small.btn-danger.mx-2(v-on:click="RemoveCompany(slotProps.data.Id)")
            i.cil-trash          


    Dialog(header="Header" v-model:visible="addClients" @update:visible="updatemodal")
      template(#header)
          h3 Update Clients Information
      .form-group
          label(for='companyname') Company Name
          input#companyname.form-control(type="text" placeholder="Company Name" v-model="registercompanyname")
      .form-group
          label(for='companyaddress') Company Address
          input#companyaddress.form-control(type="text" placeholder="Company Address" v-model="registercompanyaddress")
      .form-group
          label(for='email') Email
          input#email.form-control(type="text" placeholder="Email" v-model="registercompanyemail")
      .form-group
          label(for='maxaccountregisterlimit') Max Account Register
          input#maxaccountregisterlimit.form-control(type="text" placeholder="Number Account Allow Create" v-model="maxaccountselect")
      template(#footer)
          button.btn.btn-append(@click="updatemodal") Discard
          button.btn.btn-primary(type='button' @click='NewClient' ) Update

    Dialog(header="Header" v-model:visible="localCmu" @update:visible="updatemodal")
      template(#header)
          h3 Local CMU Activation {{this.registercompanyname}}
      .form-group
          label(for='sshipaddress') SSH IP Address
          input#sshipaddress.form-control(type="text" placeholder="SSH IP Address" v-model="sshipaddress")
      .form-group
          label(for='sshport') SSH Port
          input#sshport.form-control(type="text" placeholder="SSH Port" v-model="sshport")
      .form-group
          label(for='sshusername') SSH User Name
          input#sshusername.form-control(type="text" placeholder="SSH User Name" v-model="sshusername")
      .form-group
          label(for='databaseserver') Database Server
          input#databaseserver.form-control(type="text" placeholder="Database Server" v-model="databaseserver")
      .form-group
          label(for='databasename') Database Name
          input#databasename.form-control(type="text" placeholder="Database Name" v-model="databasename")
      .form-group
          label(for='databaseusername') Database Username
          input#databaseusername.form-control(type="text" placeholder="Database Username" v-model="databaseusername")
      .form-group
          label(for='databasepassword') Database Password
          input#databasepassword.form-control(type="password" placeholder="Database Password" v-model="databasepassword")
      template(#footer)
          button.btn.btn-danger(@click="updatemodal") Deactivate
          button.btn.btn-primary(type='button' @click='LocalCMUSave(1)' ) Activate
</template>
<script>
import { FilterMatchMode, FilterOperator } from "primevue/api";
import axios from "axios";
import Checkbox from "primevue/checkbox";
export default {
  data() {
    return {
      filtersclients: null,
      loadingclients: true,
      editingCellRows: {},
      editingRows: [],
      addClients: false,
      localCmu: false,
      selectedCompany: 0,
      userid: parseInt(this.$cookies.get("UserID")),
      localcmudata: [],
    };
  },
  originalRows: null,
  created() {
    this.initFiltersclients();
    this.originalRows = {};
  },
  computed: {
    companylist() {
      return this.$store.state.companylist;
    },
  },
  mounted() {
    this.$store.dispatch("getCompanyInfo");
    this.loadingclients = false;
  },
  watch: {
    localcmudata(val) {
      this.sshipaddress = val.Sshipaddress;
      this.sshport = val.Sshport;
      this.sshusername = val.SshuserName;
      this.databaseserver = val.Dbserver;
      this.databasename = val.Dbname;
      this.databaseusername = val.DbuserName;
      this.databasepassword = val.Dbpassword;
    },
  },
  methods: {
    // clearFilter1() {
    //   this.initFiltersclients();
    // },
    updatemodal() {
      this.registercompanyname = "";
      this.registercompanyaddress = "";
      this.registercompanyemail = "";
      this.maxaccountselect = "0";
      this.addClients = false;
      this.localCmu = false;
      this.sshipaddress = "";
      this.sshport = "";
      this.sshusername = "";
      this.databaseserver = "";
      this.databasename = "";
      this.databaseusername = "";
      this.databasepassword = "";
    },
    EditBox(val) {
      this.selectedCompany = val.Id;
      this.addClients = true;
      this.registercompanyname = val.CompanyName;
      this.registercompanyaddress = val.CompanyAddress;
      this.registercompanyemail = val.Email;
      this.maxaccountselect = val.MaxAccount;
    },

    LocalCmu: function (val) {
      axios
        .get("http://118.107.242.221:8585/api/Company/GetLocalCMU/" + val.Id)
        .then((response) => {
          this.localcmudata = response.data;
          this.selectedCompany = val.Id;
          this.localCmu = true;
          console.log(response.data);
        });
    },
    LocalCMUSave(status) {
      if (!this.sshport || !this.sshipaddress || !this.sshusername || !this.sshusername) {
        this.$toast.add({
          severity: "error",
          summary: "Form not complete",
          detail: "Please fill in the machine ssh details",
          life: 3000,
        });
      } else if (
        !this.databasename ||
        !this.databaseusername ||
        !this.databasepassword ||
        !this.databaseserver
      ) {
        this.$toast.add({
          severity: "error",
          summary: "Form not complete",
          detail: "Please fill in the machine database details",
          life: 3000,
        });
      } else {
        const data = JSON.stringify({
          companyid: this.selectedCompany,
          sshipaddress: this.sshipaddress,
          sshport: this.sshport,
          sshusername: this.sshusername,
          dbserver: this.databaseserver,
          dbname: this.databasename,
          dbusername: this.databaseusername,
          dbpassword: this.databasepassword,
          createuserid: this.userid,
          modifyuserid: this.userid,
          localcmu: status,
        });
        console.log(data);
        this.$store.commit("GET_MachineInfo", data);
        this.$store
          .dispatch("postAPIwithRandom", "localcmu")
          .then((response) => {
            if (response == 200) {
              //Do message pop up here
              this.$toast.add({
                severity: "success",
                summary: "Success Message",
                detail: "Local CMU Activated",
                life: 3000,
              });
              this.$store.dispatch("getAllMachineList");
              this.updatemodal();
            }
          })
          .catch((error) => {
            this.$toast.add({
              severity: "error",
              summary: "Error Message",
              detail: " Local CMU is not able to activate",
              life: 3000,
            });
          });
      }
    },
    NewClient() {
      const data = JSON.stringify({
        Id: this.selectedCompany,
        companyname: this.registercompanyname,
        companyaddress: this.registercompanyaddress,
        email: this.registercompanyemail.toLowerCase(),
        maxaccount: parseInt(this.maxaccountselect),
        modifyuserid: this.userid,
        // User Role always is 1 , - Client Admin , only client admin can assign role 2,3,4
      });
      console.log(data);
      this.$store.commit("GET_Client", data);

      this.$store
        .dispatch("postAPIwithRandom", "updateClient")
        .then((response) => {
          if (response == 200) {
            //Do message pop up here
            this.$toast.add({
              severity: "success",
              summary: "Success Message",
              detail:
                this.registercompanyname +
                " has been registered with the email " +
                this.registercompanyemail,
              life: 3000,
            });
            this.$store.dispatch("getCompanyInfo");
            this.updatemodal();
          } else {
            this.$toast.add({
              severity: "error",
              summary: "Failed Message",
              detail: this.registercompanyname + " not able to register ",
              life: 3000,
            });
          }
        })
        .catch((error) => {
          this.$toast.add({
            severity: "error",
            summary: "Failed Message",
            detail: this.registercompanyname + " not able to register ",
            life: 3000,
          });
          //Do Fail saved message
        });
    },
    initFiltersclients() {
      this.filtersclients = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      };
    },
    onRowEditInit(event) {
      this.originalRows[event.index] = { ...this.companylist[event.index] };
    },
    onRowEditCancel(event) {
      this.companylist[event.index] = this.originalRows[event.index];
    },
    RemoveCompany(val) {
      this.$confirm.require({
        message: "Are you sure you want to proceed?",
        header: "Confirmation",
        icon: "pi pi-exclamation-triangle",
        accept: () => {
          //callback to execute when user confirms the action
          axios
            .post("http://118.107.242.221:8585/api/Company/RemoveAccess/" + val)
            .then((response) => {
              this.$toast.add({
                severity: "success",
                summary: "Success Message",
                detail: "Access Success Removed",
                life: 3000,
              });
              this.$store.dispatch("getCompanyInfo");
            })
            .catch((error) => {
              this.$toast.add({
                severity: "error",
                summary: "Failed Message",
                detail: "Please check registered machine.",
                life: 3000,
              });
            });
        },
        reject: () => {
          //callback to execute when user rejects the action
        },
      });
    },
  },
};
</script>
