<template lang="pug">
.ClientAdmin
    h4.my-3 Employee List
    .form-group.append.search
        input.form-control(type='text' placeholder='Search')
        .btn.btn-primary Search
    DataTable(:value="employees" :paginator="true" :rows="10" responsiveLayout="scroll")
        Column(field="EmployeeId" header="Employee ID" :sortable="true" filterMatchMode="startsWith")
        Column(field="EmployeeName" header="Employee Name" :sortable="true" filterMatchMode="startsWith")
        Column(field="Email" header="Email" :sortable="true" filterMatchMode="startsWith")
        Column(field="UserRoleText" header="Role" :sortable="true" filterMatchMode="startsWith")
        Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible")
          template(#body="employees, slotProps")
            .d-flex
                router-link(:to="{name: 'Activity Log', params: {id: employees.data.Id}}").btn.btn-small.btn-info.mx-2 
                    i.cil-av-timer
                .btn.btn-small.btn-danger.mx-2(v-on:click="RemoveAccess(employees.data.Id)") 
                    i.cil-trash
                //- .btn.btn-small.btn-primary.mx-2(v-on:click="EditAccess(employees.data.EmployeeId, employees.data.EmployeeName, employees.data.Email, employees.data.UserRole)" data-toggle='modal' data-target='#editEmployee')
                //-     i.cil-pencil
//- Modal Add Employee For CLient Admin View
.modal.fade#editEmployee(data-backdrop="static" tabindex='-3' role='dialog' aria-labelledby='addEmployeeLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h6.modal-title#addEmployeeLabel Create Access 
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .form-group
          label(for="employee-name") Employee Name
          input#employee-name.form-control(type="text" v-model="employeename" placeholder="Employee Name")
        .form-group
          label(for="employee-id") Employee ID
          input#employee-id.form-control(type="text" v-model="employeeid" placeholder="Employee ID")
        .form-group
          label(for="employee-name") Employee Name
          input#employee-name.form-control(type="email" v-model="employeeeemail" placeholder="Employee Email")
          //- select.form-control#employee(v-model="selectedEmp")
          //-   option(value='0', disabled='') Please Select Employee
          //-   option(v-for='item in employee', v-bind:value='{id: item.EmployeeId, name: item.EmployeeName}') {{item.EmployeeName}}
        .form-group
          label Role
          select.form-control#operationLevel(v-model="selectedEmpOL")
            option(value='0', disabled='') Please Select Operation Level
            option(v-for='item in empOL', v-bind:value='{id: item.id, name: item.name}') {{item.name}}
      .modal-footer
        button.btn.btn-append(type='button' data-dismiss='modal') Discard
        button.btn.btn-primary(type='button' v-on:click='editAccess') Save
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      showModal: false,
    };
  },
  mounted() {
    this.$store.dispatch("getManagerList", this.$cookies.get("CompanyID"));
  },
  computed: {
    employees() {
      return this.$store.state.managerlist;
    },
  },
  watch: {
    showModal: function (val) {
      this.employeeeemail = 123;
      console.log("watch");
    },
  },
  methods: {
    RemoveAccess: function (val) {
      this.$confirm.require({
        message: "Are you sure you want to proceed?",
        header: "Confirmation",
        icon: "pi pi-exclamation-triangle",
        accept: () => {
          //callback to execute when user confirms the action
          axios
            .post("http://118.107.242.221:8585/api/User/RemoveUser/" + val)
            .then((response) => {
              this.$toast.add({
                severity: "success",
                summary: "Success Message",
                detail: "Access Success Removed",
                life: 3000,
              });
              this.$store.dispatch("getManagerList", this.$cookies.get("CompanyID"));
            })
            .catch((error) => {
              this.$toast.add({
                severity: "error",
                summary: "Failed Message",
                detail: "Unable to remove user",
                life: 3000,
              });
            });
        },
        reject: () => {
          //callback to execute when user rejects the action
        },
      });
    },
    EditAccess: function (EmployeeId, EmployeeName, EmployeeEmail, EmployeeRole) {
      this.employeeid = EmployeeId;
      this.showModal = true;
    },
  },
};
</script>
