<template lang="pug">
Toast
.login.login__background
    .login__wrapper
        h1.text-center.mb-5 Login
        .form-group
            label(for='email') Email
            input#email.form-control(type="email" placeholder="Email" v-model="Email")
        .form-group.mb-0
            label(for='password') Password
            input.form-control#password(type="password" placeholder="Password" v-model="Password")
        .d-flex.justify-content-end.mb-5
            a.forgot-password(@click="this.forgotpasswordmodal = true") Forgot Password ?
        button(@click="checkLogin" @keyup.enter='checkLogin').btn.btn-primary Login
Dialog(header="Header" v-model:visible="forgotpasswordmodal")
  template(#header)
    h3 Reset Password 
  .form-group
    label(for="email") Email
    input#email.form-control(type="text" placeholder="Email" v-model="email")
  .form-group
    label(for="confirm-email") Confirm Email
    input#confirm-email.form-control(type="text" placeholder="Confirm Email" v-model="cemail")
  template(#footer)
    button(label="No" icon="pi pi-times" class="btn btn-append" @click="closeResetPassword") Close
    button.btn.btn-primary(label="Yes" icon="pi pi-check" autofocus v-on:click="ResetPassword") Reset Password
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      Email: "",
      email: "",
      Password: "",
      cemail: "",
      forgotpasswordmodal: false,
    };
  },
  created() {
    this.$cookies.config("1d");
    if (this.$cookies.get("Username") != null) {
      this.$cookies.set("Username", "");
      this.$cookies.set("Roles", "");
      this.$cookies.set("CompanyName", "");
      this.$cookies.set("CompanyID", "");
      location.reload();
    }
  },
  methods: {
    closeResetPassword() {
      this.forgotpasswordmodal = false;
    },
    ResetPassword: function () {
      console.log(this.email + "\\" + this.cemail);
      if (!this.cemail || !this.email) {
        this.$toast.add({
          severity: "error",
          summary: "Form not complete",
          detail: "Please key in email address to reset password",

          life: 3000,
        });
      } else {
        if (this.email === this.cemail) {
          axios
            .post("http://118.107.242.221:8585/api/User/ResetPassword/" + this.email)
            .then((response) => {
              this.$toast.add({
                severity: "success",
                summary: "Success",
                detail: "Reset Password request sent",
                life: 3000,
              });
              this.forgotpasswordmodal = false;
            });
        } else {
          this.$toast.add({
            severity: "error",
            summary: "Fail Message",
            detail: "Email not match!",
            life: 3000,
          });
        }
      }
    },
    checkLogin: function () {
      if (!this.Email || !this.Password) {
        this.$toast.add({
          severity: "error",
          summary: "Incorrect Email / Password ",
          detail: "Please key in your email and password",
          life: 3000,
        });
      } else {
        const data = JSON.stringify({
          email: this.Email.toLowerCase(),
          password: this.Password,
          username: this.Email.toLowerCase(),
        });
        console.log(data);
        this.$store.commit("GET_Login", data);
        axios
          .post("http://118.107.242.221:8585/api/user/Login", data, {
            headers: {
              "Content-Type": "application/json",
            },
          })
          .then((response) => {
            let responsedata = response.data;
            console.log(responsedata);
            this.$cookies.set("UserID", responsedata[0].Id);
            this.$cookies.set("Username", responsedata[0].Username);
            this.$cookies.set("Roles", responsedata[0].UserRole);
            this.$cookies.set("CompanyName", responsedata[0].CompanyName);
            if (responsedata[0].UserRole == 1) {
              this.$cookies.set("CompanyID", responsedata[0].CompanyId);
              this.$router.push("client-admin-home");
            } else if (
              responsedata[0].UserRole === 0 ||
              responsedata[0].UserRole === 2 ||
              responsedata[0].UserRole === 3 ||
              responsedata[0].UserRole === 4
            ) {
              this.$cookies.set("CompanyID", responsedata[0].CompanyId);
              this.$router.push("Home");
            } else {
              this.$toast.add({
                severity: "error",
                summary: "Incorrect Email / Password",
                detail: "Please check your email and password",
                life: 3000,
              });
            }
          })
          .catch((error) => {
            console.log(error);
            this.$toast.add({
              severity: "error",
              summary: "Incorrect Email / Password.",
              detail: "Can't sign in to your account",
              life: 3000,
            });
          });
      }
    },
  },
};
</script>
