<template lang="pug">
//- company id need to be company name and show all machine list
.machinelist
  .d-flex.align-items-center.justify-content-between
    h4.my-3 Machine List
  DataTable(:value="machinelist" :paginator="true" :rows="10" responsiveLayout="scroll"
    v-model:filters="filtersmachine"  :loading="loadingmachine" 
    :globalFilterFields="['SerialNumber','CompanyName','Createdate','Recordstatus']"
    
    )
    template(#header)
      .form-group.append.search
        input.form-control(type='text' v-model="filtersmachine['global'].value" placeholder="Keyword Search")
        i.cil-search
        //- .btn.btn-primary(@click="clearFilter1()") Clear
    template(#empty) No Machine Found.
    template(#loading) Loading Machine Data. Please wait.
    Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible" header="No")
      template(#body="rowIndex")
        | {{ rowIndex.index + 1 }}
    Column(field="SerialNumber" header="Machines" :sortable="true")
    Column(field="CompanyName" header="Company Name" :sortable="true")
    Column(field="Createdate" header="Created Date" :sortable="true")
    Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible")
      template(#body="slotProps")
        .d-flex.align-items-center.justify-content-center
          //- template(v-if="slotProps.data.Recordstatus !== 'Off'")
          //-   router-link(:to="{name: 'Machine Details', params: {id: slotProps.data.Id}}").btn.btn-small.btn-info.mx-2 
          //-     i.cil-view-module 
          .btn.btn-small.btn-danger.mx-2(v-on:click="machineRemove(slotProps.data.Id)")
            i.cil-trash
</template>
<script>
import axios from "axios";
import { FilterMatchMode, FilterOperator } from "primevue/api";
export default {
  data() {
    return {
      filtersmachine: null,
      loadingmachine: true,
    };
  },
  computed: {
    machinelist() {
      return this.$store.state.allmachinelist;
    },
  },
  created() {
    this.initFiltersmachine();
  },
  mounted() {
    this.$store.dispatch("getAllMachineList");
    this.loadingmachine = false;
  },
  methods: {
    // clearFilter1() {
    //   this.initFiltersmachine();
    // },

    initFiltersmachine() {
      this.filtersmachine = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      };
    },
    machineRemove: function (machineid) {
      this.$confirm.require({
        message: "Are you sure you want to proceed?",
        header: "Confirmation",
        icon: "pi pi-exclamation-triangle",
        accept: () => {
          //callback to execute when user confirms the action
          axios
            .post(
              "http://118.107.242.221:8585/api/MachineInfo/RemoveMachine/" + machineid
            )
            .then((response) => {
              this.$toast.add({
                severity: "success",
                summary: "Success Message",
                detail: "Machine Success Removed",
                life: 3000,
              });
              this.$store.dispatch("getAllMachineList");
              console.log(this.$store.state.machinelist);
            });
        },
        reject: () => {
          //callback to execute when user rejects the action
        },
      });
    },
  },
};
</script>
