<template lang="pug">
.machine-details
  .machine__wrapper
    .fixed.fixed__machine(:class="machineColor(machinestatus.RecordStatus)")
      small
        .sub-title Machine : {{machineinfo.SerialNumber}} 
        .sub-title Location : {{machineinfo.Location}}
    .row
      .col-lg-4
        h5 Machine Info
        .mt-2
          .form-group 
            label Company
            p {{machineinfo.CompanyName}}
          .form-group 
            label Serial Number
            p {{machineinfo.SerialNumber}}
          .form-group 
            label Location 
            p {{machineinfo.Location}}
          .form-group 
            label Year Of Manufacturing
            p {{machineinfo.YearOfManufac}}
          .form-group 
            label Software Version 
            p {{machineinfo.Version}}
        h5.mt-5 Calibration
        .mt-2
          .form-group 
            label Due Date
            p {{machineinfo.Calibrationdate}}
      .col-lg-4
        h5 Production Info
        .mt-2
          .form-group 
            label Product Type 
            p {{production.cProductType}} 
          .form-group 
            label Product Size
            p {{production.cProductSize}}
          .form-group 
            label Batch No            
            p {{production.cBatchNo}}            
          .form-group 
            label Operator 1 
            p {{production.cOperator1}} 
          .form-group 
            label Operator 2
            p {{production.cOperator2}}
          .form-group 
            label Operator 3
            p {{production.Operator3}}
          .form-group 
            label Operator 4
            p {{production.Operator4}}
          .form-group 
            label Inspector 
            p {{production.cInspector}} 
      .col-lg-4
        h5 Machine Status
        .mt-2
          .form-group 
            label 12V Voltmeter 
            p {{machinestatus._12voltmeter}} V
          .form-group 
            label 24V Voltmeter
            p {{machinestatus._24voltmeter}} V
          .form-group 
            label 12V Ammeter            
            p {{machinestatus._12ammeter}} A          
          .form-group 
            label 24V Ammeter 
            p {{machinestatus._24ammeter}} A
          .form-group 
            label Hour Run (HH:MM)
            p {{machinestatus.HourRun}}
          .form-group 
            label Air Pressure
            p {{machinestatus.AirPressure}} psi
          .form-group 
            label Temperature
            p {{machinestatus.Tempreature}} &#8451
          .form-group 
            label Low Pressure 
            .led__container
              .led__green(v-if="machinestatus.LowPressure == 0")
              .led__red(v-if="machinestatus.LowPressure == 1")
          .form-group 
            label E-Stop 
            .led__container
              .led__green(v-if="machinestatus.Estop == 0")
              .led__red(v-if="machinestatus.Estop == 1")
      .col-lg-12
        h5 Test Distribution
        .test-distribution__wrapper
          .passed
            small passed
            h3 {{production.cPassed}}
            .percentage {{production.cPesPassed}} %
          .failed
            small failed
            h3 {{production.cFailed}}
            .percentage {{production.cPesFailed}} %
          .retest
            small retest
            h3 {{production.cRetest}}
            .percentage {{production.cPesRetest}} %
          .reject
            small reject
            h3 {{production.cReject}}
            .percentage {{production.cPesReject}} %
          .total
            small total
            h3 {{production.cTotal}}
        .row.mt-4
          .col-lg-6
            .form-group.intro
              label.intro No Glove 
              p {{production.cNoGlove}}
            .form-group 
              label Interval
              p {{production.cInterval}}s
            .form-group 
              label Rate 
              p {{production.cRate}} /hr
          .col-lg-6
            .form-group 
              label Round Time
              p {{production.cRoundTime}}s         
            .form-group 
              label Run Time (HH:MM:SS)
              p {{production.cRunTime}} 
            .form-group 
              label Module
              p {{production.cModule}}
            .form-group 
              label Efficiency
              p {{production.cEfficiency}} %
  .machine__graph
    .row
      .col-lg-12
        .my-3
        nav
          .nav.nav-tabs#nav-tab(role='tablist')
            a.nav-item.nav-link.active#nav-production-tab(v-if="roles === '4' || roles === '0' || roles === '2'" data-toggle='tab' href='#nav-production' role='tab' aria-controls='nav-production' aria-selected='true') Production
            a.nav-item.nav-link#nav-engineering-tab(v-if="roles === '3' || roles === '0' || roles === '2' " data-toggle='tab' href='#nav-engineering' role='tab' aria-controls='nav-engineering' aria-selected='false' :class="{ active:roles === '3' }") Engineering
            a.nav-item.nav-link#nav-calibration-tab.fixed.fixed__callibration(v-if="roles === '0'" data-toggle='tab' href='#nav-calibration' role='tab' aria-controls='nav-calibration' aria-selected='false') Calibration
            a.nav-item.nav-link#nav-license-tab.fixed.fixed__license(v-if="roles === '0'" data-toggle='tab' href='#nav-license' role='tab' aria-controls='nav-license' aria-selected='false') License
        .tab-content#nav-tabContent
          .tab-pane.fade.show.active#nav-production(role='tabpanel' aria-labelledby='nav-production-tab' v-if="roles === '4' || roles === '0' || roles === '2'")
            .row 
              .col-lg-12
                h5 Production Yield
                .mb-2
                  a(@click="selectYield('month')") Month | 
                  a(@click="selectYield('threemonth')") 3 Month | 
                  a(@click="selectYield('sixmonth')") 6 Month | 
                  a(@click="selectYield('year')") Year |
                .d-flex.justify-content-between.align-items-center
                  .form-group.mb-0
                    select.form-control(v-model='yieldfilter')
                      template(v-if="this.timedisplay === 'month'")
                        option(v-for='item in monthdisplay', v-bind:value='item') {{ item }}
                      template(v-if="this.timedisplay === 'threemonth'")
                        option(v-for='item in threemonthdisplay', v-bind:value='item') {{ item }}
                      template(v-if="this.timedisplay === 'sixmonth'")
                        option(v-for='item in sixmonthdisplay', v-bind:value='item') {{ item }}
                      template(v-if="this.timedisplay === 'year'")
                        option(v-for='item in yeardisplay', v-bind:value='item') {{ item }}
                  .btn.btn-append(type='button' v-on:click="ExcelDownloadYield") Download
                .d-flex.my-3.justify-content-center
                  .btn.mx-3(@click="showgraph('percentage')" :class="{ 'btn-primary' : PercentageGraph , 'btn-append': NoGloveGraph }") Percentage
                  .btn.mx-3(@click="showgraph('noglove')" :class="{ 'btn-primary' : NoGloveGraph , 'btn-append': PercentageGraph }") No Glove
                .col-lg-8.m-auto
                  template(v-if="PercentageGraph")
                    Chart(type="line" :data="productionyield" :options="basicOptions" ref="chart")
                  template(v-if="NoGloveGraph")
                    Chart(type="bar" :data="productionyieldNoGlove" :options="basicOptions")
              .col-lg-12.mt-5
                h5 Production Volume
                .mb-2
                  a(@click="volumeselect('month')") Month | 
                  a(@click="volumeselect('threemonth')") 3 Month | 
                  a(@click="volumeselect('sixmonth')") 6 Month | 
                  a(@click="volumeselect('year')") Year | 
                .d-flex.justify-content-between.align-items-center
                  .form-group.mb-0
                    select.form-control(v-model='volumefilter')
                      template(v-if="this.volumetimedisplay === 'month'")
                        option(v-for='item in monthdisplay', v-bind:value='item') {{ item }}
                      template(v-if="this.volumetimedisplay === 'threemonth'")
                        option(v-for='item in threemonthdisplay', v-bind:value='item') {{ item }}
                      template(v-if="this.volumetimedisplay === 'sixmonth'")
                        option(v-for='item in sixmonthdisplay', v-bind:value='item') {{ item }}
                      template(v-if="this.volumetimedisplay === 'year'")
                        option(v-for='item in yeardisplay', v-bind:value='item') {{ item }}
                  .btn.btn-append(type='button' v-on:click="ExcelDownloadVolume") Download
                .col-lg-8.m-auto
                  Chart(type="bar" :data="productionvolume" :options="basicOptions")
              .col-lg-12.my-5
                h5 Batch Info
                .btn.btn-append(type='button' v-on:click="BatchDownload($event)") Download
                vue-blob-json-csv(@success='handleSuccess', @error='handleError', tag-name='div', file-type='json', file-name='sample', title='Download JSON', :data='batcheslist', confirm='Do you want to download it?')
                .row
                  .col-lg-7
                    DataTable(:value="batcheslist" sortMode="multiple" :paginator="true" ref="dt" :rows="10" responsiveLayout="scroll" selectionMode="single" @rowSelect="onRowSelect")
                      Column(field="cBatchNo" header="Batch No" :sortable="true") 
                      Column(field="cStarttime" header="Start Time" :sortable="true" datatype='date')
                        template(#body="slotProps")  {{formatDate(slotProps.data.cStarttime)}}
                        template(#filter='{filterModel}') calendar(v-model='filterModel.value', dateformat='dd/mm/yy', placeholder='dd/mm/yyyy')
                      Column(field="cEndtime" header="End Time" :sortable="true" datatype='date')
                        template(#body="slotProps")  {{formatDate(slotProps.data.cEndtime)}}
                        template(#filter='{filterModel}') calendar(v-model='filterModel.value', dateformat='dd/mm/yy', placeholder='dd/mm/yyyy')
                  .col-lg-4
                    .row
                      .col-lg-6
                        .form-group
                          label Product Type
                          p {{BatchProductType}}
                        .form-group
                          label Batch No
                          p {{BatchLogBatchNo}}
                        .form-group
                          label Product Size
                          p {{BatchProductSize}}
                        .form-group
                          label Operator 1
                          p {{BatchOperator1}}
                        .form-group
                          label Operator 2
                          p {{batchOperator2}}
                        .form-group
                          label Operator 3
                          p {{batchOperator3}}
                        .form-group
                          label Operator 4
                          p {{batchOperator4}}
                        .form-group
                          label Inspector
                          p {{batchInspector}}
                      .col-lg-6
                        .form-group
                          label Passed
                          p {{batchPassed}} ({{batchPassedPer}})

                        .form-group
                          label Retest
                          p {{batchRetest}} ({{batchRetestPer}})
                        .form-group
                          label Failed
                          p {{batchFailed}} ({{batchFailedPer}})
                        .form-group
                          label Reject
                          p {{batchReject}} ({{batchRejectPer}})
                        .form-group
                          label Total
                          p {{batchTotal}}
                        .form-group
                          label No. Glove
                          p {{batchNoGlove}}
                        .form-group
                          label Rate
                          p {{batchRate}}
                        .form-group
                          label Glove Type
                          p {{batchType}}
          .tab-pane.fade#nav-engineering(role='tabpanel' aria-labelledby='nav-engineering-tab' v-if="roles === '3' || roles === '0' || roles === '2'" :class="{ show : roles === '3' , active : roles === '3' }")
            .row
              .col-lg-12
                h5 Sensor Data
                .row
                  .col-lg-6
                    Chart(type="line" :data="twentyfourvolt" :options="basicOptions")
                  .col-lg-6
                    Chart(type="line" :data="twelvevolt" :options="basicOptions")
                  .col-lg-6
                    Chart(type="line" :data="airpressure" :options="basicOptions")
                  .col-lg-6
                    Chart(type="line" :data="temperature" :options="basicOptions")
              .col-lg-12.mt-5
                h5 Event Log
                DataTable(:value="events" :paginator="true" :rows="10" responsiveLayout="scroll" ref="eventdt" v-model:filters="filters" stateStorage="session" stateKey="dt-state-demo-session" v-model:selection="selectedFault" selectionMode="single" dataKey="CreateDate")
                  //- template(#header)
                  //-   div(style="text-align: right")
                  //-     i(class="pi pi-search" style="margin: 4px 4px 0px 0px;")
                  //-       InputText(v-model="filters['global']" placeholder="Global Search" size="50" )
                  Column(field="cDateTime" header="Date Time" :sortable="true" filterMatchMode="startsWith")
                    template(#body="slotProps")  {{formatDate(slotProps.data.cDateTime)}}
                    template(#filter='{filterModel}') calendar(v-model='filterModel.value', dateformat='mm/dd/yy', placeholder='mm/dd/yyyy')
                  Column(field="cEvent" header="Event" :sortable="true" filterMatchMode="startsWith")
                    //- template(#filter)
                    //-     InputText(type="text" v-model="filters['EventLog']" class="p-column-filter" placeholder="Starts with")
                  template(#empty) No records found.
                  .btn.btn-append(type='button' v-on:click="ExcelEventLog") Download
                //- .overthrow
                //-   table.table
                //-     thead
                //-       tr
                //-         th(scope='col') Date Time
                //-         th(scope='col') Event
                //-     tbody
                //-       tr(v-for="event in events")
                //-         td(scope='row') {{ $filters.splitTime(event.CreateDate) }}
                //-         td {{ event.EventLog }}  
              .col-lg-12.my-5
                h5 Fault Report
                .btn.btn-append(type='button' v-on:click="ExcelFaultLog") Download
                DataTable(:value="faults" :paginator="true" :rows="10" responsiveLayout="scroll" v-model:filters="filters" v-model:selection="selectedFault" selectionMode="single" dataKey="CreateDate" )
                  Column(field="CreateDate" header="Date Time" :sortable="true" filterMatchMode="startsWith")
                    template(#body="slotProps")  {{formatDate(slotProps.data.CreateDate)}}
                    template(#filter='{filterModel}') calendar(v-model='filterModel.value', dateformat='dd/mm/yy', placeholder='dd/mm/yyyy') 
                  Column(field="Event" header="Event" :sortable="true" filterMatchMode="startsWith")
                  Column(field="FaultLog" header="Fault Log" :sortable="true" filterMatchMode="startsWith")
                  template(#empty) No records found.
          .tab-pane.fade#nav-calibration(role='tabpanel' aria-labelledby='nav-calibration-tab' v-if="roles === '0'")
            .mt-2.mb-3
              h3.sub-title Calibration
              p Browse for the license file and click upload to process the calibration file
            .mt-2.mb-5
              .form-group            
                FileUpload(name='demo[]' mode="advanced" :customUpload="true" @uploader="readyupload" :showCancelButton="true" :showUploadButton="false" :multiple="true" :auto="true" cancelLabel="Reset" chooseLabel="Select" v-model="file")
                  template(#empty)
                    p Drag and drop files to here to upload.
              .form-group
                label(for="softwarenote") Remark
                textarea#softwarenote.form-control(type='text' placeholder='Note' rows="4" max-row="6" v-model="softwarenote")
              .d-flex.justify-content-end 
                .btn.btn-primary(v-on:click='CallibrationSave') Upload
            DataTable(:value="CallibrationList" :paginator="true" :rows="10" responsiveLayout="scroll" selectionMode="single" )
              Column(field="CreateDate" header="Date Time" :sortable="true") 
              Column(field="Note" header="Note" :sortable="true")
          .tab-pane.fade#nav-license(role='tabpanel' aria-labelledby='nav-license-tab' v-if="roles === '0'")
            .mt-2.mb-3
              h3.sub-title License
              p Browse for the license file and click upload to process the license file
            .mt-2.mb-5
              .form-group            
                FileUpload(name='demo[]' mode="advanced" :customUpload="true" @uploader="readyupload" :showCancelButton="true" :showUploadButton="false" :multiple="true" :auto="true" cancelLabel="Reset" chooseLabel="Select" v-model="file")
                  template(#empty)
                    p Drag and drop files to here to upload.
              .form-group
                label(for="softwarenote") Remark
                textarea#softwarenote.form-control(type='text' placeholder='Note' rows="4" max-row="6" v-model="softwarenote")
              .d-flex.justify-content-end 
                .btn.btn-primary(v-on:click='LicenseSave') Upload
            DataTable(:value="LicenseList" :paginator="true" :rows="10" responsiveLayout="scroll" selectionMode="single")
              Column(field="CreateDate" header="Date Time" :sortable="true") 
              Column(field="Note" header="Note" :sortable="true")
</template>
<script>
import dayjs from "dayjs";
import axios from "axios";
import moment from "moment";
import { FilterMatchMode, FilterOperator } from "primevue/api";

export default {
  name: "machineinfo",
  data() {
    return {
      filters: {
        date: {
          operator: FilterOperator.AND,
          constraints: [{ value: null, matchMode: FilterMatchMode.DATE_IS }],
        },
      },
      monthdisplay: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ],
      yieldfilter: "2021",
      volumefilter: "2021",
      threemonthdisplay: ["Jan-Mar", "Apr-Jun", "Jul-Sep", "Oct-Dec"],
      sixmonthdisplay: ["Jan-Jun", "Jul-Dec"],
      yeardisplay: ["2021", "2022"],
      timedisplay: "year",
      volumetimedisplay: "year",
      PercentageGraph: true,
      NoGloveGraph: false,
      roles: this.$cookies.get("Roles"),
      chartLabel: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ],
      meterLabel: [],
      BatchProductType: "",
      BatchLogBatchNo: "",
      BatchProductSize: "",
      BatchOperator1: "",
      batchOperator2: "",
      batchOperator3: "",
      batchOperator4: "",
      batchInspector: "",
      batchPassed: "",
      batchPassedPer: "",
      batchRetest: "",
      batchRetestPer: "",
      batchReject: "",
      batchRejectPer: "",
      batchFailed: "",
      batchFailedPer: "",
      batchTotal: "",
      batchNoGlove: "",
      batchRate: "",
      batchType: "",
      batches: [],
      filters: {},
      selectedFault: null,
      faults: null,
      timer: "",
      timerChart: "",
      chartupdated: false,
      meterupdated: false,
      userid: parseInt(this.$cookies.get("UserID")),
      globalcompany: this.$cookies.get("CompanyID"),
      currentmachineid: this.id,
      basicOptions: {
        plugins: {
          legend: {
            labels: {
              color: "#495057",
            },
          },
          animation: {
            duration: 0, // general animation time
          },
        },
      },
      twentyfourvolt: {
        labels: ["0000", "0600", "1200", "1800", "2400"],
        datasets: [
          {
            label: "24V",
            data: [0.89, 0.66, 0.66669, 0, 0, 0, 0, 1],
            fill: true,
            tension: 0.4,
            borderColor: "#52B9A8",
            backgroundColor: "rgba(82,185,168,0.2)",
          },
        ],
      },
      twelvevolt: {
        labels: ["0000", "0600", "1200", "1800", "2400"],
        datasets: [
          {
            label: "12V",
            data: [0, 0, 0, 0, 0, 0, 0, 90],
            fill: false,
            borderDash: [5, 5],
            tension: 0.4,
            borderColor: "#f9b115",
            backgroundColor: "rgba(249,177,21,0.2)",
          },
        ],
      },
      airpressure: {
        labels: ["0000", "0600", "1200", "1800", "2400"],
        datasets: [
          {
            label: "Air Pressure",
            data: [12, 51, 62, 33, 21, 62, 45],
            fill: true,
            borderColor: "#F1435B",
            tension: 0.4,
            backgroundColor: "rgba(241,67,91,0.2)",
          },
        ],
      },
      temperature: {
        labels: ["0000", "0600", "1200", "1800", "2400"],
        datasets: [
          {
            label: "Temprature",
            data: [6, 7, 62, 33, 2, 6, 45],
            fill: false,
            borderDash: [5, 5],
            borderColor: "#5B78F1",
            tension: 0.4,
            backgroundColor: "rgba(91,120,241,0.2)",
          },
        ],
      },
    };
  },
  created() {},
  computed: {
    machineinfo() {
      return this.$store.state.machineinfo;
    },
    machinestatus() {
      return this.$store.state.machinestatus;
    },
    production() {
      return this.$store.state.production;
    },
    batch() {
      return this.$store.state.batch;
    },
    batcheslist() {
      return this.$store.state.batchlist;
    },
    events() {
      return this.$store.state.eventlist;
    },
    faults() {
      return this.$store.state.faultlist;
    },
    batchlog() {
      return this.$store.state.batchlog;
    },
    batchlistwithbatch() {
      return this.$store.state.batchlistwithbatch;
    },
    CallibrationList() {
      return this.$store.state.callibrationlist;
    },
    LicenseList() {
      return this.$store.state.licenselist;
    },
    DAYield() {
      return this.$store.state.Yield;
    },
    meter() {
      return this.$store.state.Meter;
    },
  },
  props: ["id"],
  mounted() {
    this.currentmachineid = this.id;
    this.$store.commit("SET_CurrentMachine", this.currentmachineid);
    this.timer = setInterval(this.fetchEventsList, 3000);
    this.timerChart = setInterval("fetchChart", 3600000);
    this.$store.dispatch("getMachineInfo", this.id);
    this.$store.dispatch("getMachineStatus", this.id);
    this.$store.dispatch("getProduction", this.id);
    this.$store.dispatch("getBatchList", this.id);
    this.$store.dispatch("GetYield", this.id);
    this.$store.dispatch("getEventList", this.id);
    this.$store.dispatch("GetMeter", this.id);
    this.$store.dispatch("getLicense", this.id);
    this.$store.dispatch("getCallibration", this.id);
    this.$store.dispatch("getModuleFaultList", this.id);
  },
  destryoyed: function () {
    clearInterval(this.timer);
    this.timer = null;
  },
  watch: {
    $route(to, from) {
      clearInterval(this.timer);
      this.timer = null;
      if (to.path == "/machine/null") {
        this.$router.push({ path: "/machine-dashboard" });
      }
    },
    yieldfilter(val) {
      sync: true;
      let PushDataTotal = [];
      let PushDataPass = [];
      let PushDataReject = [];
      let PushDataRetest = [];
      let PushDataFailed = [];
      let PushDataNoGlove = [];
      let PushLabel = [];
      switch (this.timedisplay) {
        case "month":
          var index = this.monthdisplay.findIndex((x) => x === val);
          var daysInMonth = new Date(2021, index + 1, 0).getDate();
          for (let i = 1; i <= parseInt(daysInMonth); ++i) {
            PushLabel.push(i);
            if (
              this.DAYield.filter(
                (x) => x.Day == i && x.Total > 0 && x.Month == index + 1
              ).length > 0
            ) {
              var Data = this.DAYield.filter((x) => x.Day == i && x.Month == index + 1);
              PushDataPass.push(((Data[0].Pass / Data[0].Total) * 100).toFixed(2));
              PushDataFailed.push(((Data[0].Failed / Data[0].Total) * 100).toFixed(2));
              PushDataRetest.push(((Data[0].Retest / Data[0].Total) * 100).toFixed(2));
              PushDataReject.push(((Data[0].Reject / Data[0].Total) * 100).toFixed(2));
              PushDataNoGlove.push(Data[0].NoGlove);
            } else {
              PushDataPass.push(0);
              PushDataFailed.push(0);
              PushDataRetest.push(0);
              PushDataReject.push(0);
              PushDataNoGlove.push(0);
            }
          }
          this.productionyield = {
            labels: PushLabel,
            datasets: [
              {
                label: "Pass",
                data: PushDataPass,
                borderColor: "#52B9A8",
                backgroundColor: "rgba(82,185,168,0.2)",
              },
              {
                label: "Retest",
                data: PushDataRetest,
                borderColor: "#f9b115",
                backgroundColor: "rgba(249,177,21,0.2)",
              },
              {
                label: "Fail",
                data: PushDataFailed,
                borderColor: "#F1435B",
                backgroundColor: "rgba(241,67,91,0.2)",
              },
              {
                label: "Reject",
                data: PushDataReject,
                borderColor: "#8F9BB3",
                backgroundColor: "rgba(143,155,179,0.2)",
              },
            ],
          };

          this.productionyieldNoGlove = {
            labels: PushLabel,
            datasets: [
              {
                label: "No Glove",
                data: PushDataNoGlove,
                backgroundColor: "#3e8d80",
              },
            ],
          };
          break;
        case "threemonth":
          let startMonth = 1;
          let endMonth = 0;
          let chartLabelMonth = [];
          switch (val) {
            case "Jan-Mar":
              startMonth = 1;
              endMonth = 3;
              chartLabelMonth = ["January", "February", "March"];
              break;
            case "Apr-Jun":
              startMonth = 4;
              endMonth = 6;
              chartLabelMonth = ["April", "May", "June"];
              break;
            case "Jul-Sep":
              startMonth = 7;
              endMonth = 9;
              chartLabelMonth = ["July", "August", "September"];
              break;
            case "Oct-Dec":
              startMonth = 10;
              endMonth = 12;
              chartLabelMonth = ["October", "November", "December"];
              break;
          }

          for (let i = startMonth; i <= endMonth; ++i) {
            if (this.DAYield.filter((x) => x.Month == i && x.Total > 0).length > 0) {
              let Data = this.DAYield.filter((x) => x.Month == i && x.Total > 0);
              PushDataPass.push(((Data[0].Pass / Data[0].Total) * 100).toFixed(2));
              PushDataFailed.push(((Data[0].Failed / Data[0].Total) * 100).toFixed(2));
              PushDataRetest.push(((Data[0].Retest / Data[0].Total) * 100).toFixed(2));
              PushDataReject.push(((Data[0].Reject / Data[0].Total) * 100).toFixed(2));
              PushDataNoGlove.push(Data[0].NoGlove);
            } else {
              PushDataPass.push(0);
              PushDataFailed.push(0);
              PushDataRetest.push(0);
              PushDataReject.push(0);
              PushDataNoGlove.push(0);
            }
          }

          this.productionyield = {
            labels: chartLabelMonth,
            datasets: [
              {
                label: "Pass",
                data: PushDataPass,
                borderColor: "#52B9A8",
                backgroundColor: "rgba(82,185,168,0.2)",
              },
              {
                label: "Retest",
                data: PushDataRetest,
                borderColor: "#f9b115",
                backgroundColor: "rgba(249,177,21,0.2)",
              },
              {
                label: "Fail",
                data: PushDataFailed,
                borderColor: "#F1435B",
                backgroundColor: "rgba(241,67,91,0.2)",
              },
              {
                label: "Reject",
                data: PushDataReject,
                borderColor: "#8F9BB3",
                backgroundColor: "rgba(143,155,179,0.2)",
              },
            ],
          };

          this.productionyieldNoGlove = {
            labels: chartLabelMonth,
            datasets: [
              {
                label: "No Glove",
                data: PushDataNoGlove,
                backgroundColor: "#3e8d80",
              },
            ],
          };
          break;
        case "sixmonth":
          let start6Month = 1;
          let end6Month = 0;
          let chartLabel6Month = [];
          switch (val) {
            case "Jan-Jun":
              start6Month = 1;
              end6Month = 6;
              chartLabel6Month = ["January", "February", "March", "April", "May", "June"];
              break;
            case "Jul-Dec":
              start6Month = 6;
              end6Month = 12;
              chartLabel6Month = [
                "July",
                "August",
                "September",
                "October",
                "November",
                "December",
              ];
              break;
          }

          for (let i = start6Month; i <= end6Month; ++i) {
            if (this.DAYield.filter((x) => x.Month == i && x.Total > 0).length > 0) {
              let Data = this.DAYield.filter((x) => x.Month == i && x.Total > 0);
              PushDataPass.push(((Data[0].Pass / Data[0].Total) * 100).toFixed(2));
              PushDataFailed.push(((Data[0].Failed / Data[0].Total) * 100).toFixed(2));
              PushDataRetest.push(((Data[0].Retest / Data[0].Total) * 100).toFixed(2));
              PushDataReject.push(((Data[0].Reject / Data[0].Total) * 100).toFixed(2));
              PushDataNoGlove.push(Data[0].NoGlove);
            } else {
              PushDataPass.push(0);
              PushDataFailed.push(0);
              PushDataRetest.push(0);
              PushDataReject.push(0);
              PushDataNoGlove.push(0);
            }
          }

          this.productionyield = {
            labels: chartLabel6Month,
            datasets: [
              {
                label: "Pass",
                data: PushDataPass,
                borderColor: "#52B9A8",
                backgroundColor: "rgba(82,185,168,0.2)",
              },
              {
                label: "Retest",
                data: PushDataRetest,
                borderColor: "#f9b115",
                backgroundColor: "rgba(249,177,21,0.2)",
              },
              {
                label: "Fail",
                data: PushDataFailed,
                borderColor: "#F1435B",
                backgroundColor: "rgba(241,67,91,0.2)",
              },
              {
                label: "Reject",
                data: PushDataReject,
                borderColor: "#8F9BB3",
                backgroundColor: "rgba(143,155,179,0.2)",
              },
            ],
          };
          this.productionyieldNoGlove = {
            labels: chartLabel6Month,
            datasets: [
              {
                label: "No Glove",
                data: PushDataNoGlove,
                backgroundColor: "#3e8d80",
              },
            ],
          };
          break;
        case "year":
          for (let i = 1; i <= 12; ++i) {
            if (this.DAYield.filter((x) => x.Month == i && x.Total > 0).length > 0) {
              let Data = this.DAYield.filter((x) => x.Month == i && x.Total > 0);
              PushDataPass.push(((Data[0].Pass / Data[0].Total) * 100).toFixed(2));
              PushDataFailed.push(((Data[0].Failed / Data[0].Total) * 100).toFixed(2));
              PushDataRetest.push(((Data[0].Retest / Data[0].Total) * 100).toFixed(2));
              PushDataReject.push(((Data[0].Reject / Data[0].Total) * 100).toFixed(2));
              PushDataNoGlove.push(Data[0].NoGlove);
            } else {
              PushDataPass.push(0);
              PushDataFailed.push(0);
              PushDataRetest.push(0);
              PushDataReject.push(0);
              PushDataNoGlove.push(0);
            }
          }
          this.productionyield = {
            labels: this.chartLabel,
            datasets: [
              {
                label: "Pass",
                data: PushDataPass,
                borderColor: "#52B9A8",
                backgroundColor: "rgba(82,185,168,0.2)",
              },
              {
                label: "Retest",
                data: PushDataRetest,
                borderColor: "#f9b115",
                backgroundColor: "rgba(249,177,21,0.2)",
              },
              {
                label: "Fail",
                data: PushDataFailed,
                borderColor: "#F1435B",
                backgroundColor: "rgba(241,67,91,0.2)",
              },
              {
                label: "Reject",
                data: PushDataReject,
                borderColor: "#8F9BB3",
                backgroundColor: "rgba(143,155,179,0.2)",
              },
            ],
          };
          this.productionyieldNoGlove = {
            labels: this.chartLabel,
            datasets: [
              {
                label: "No Glove",
                data: PushDataNoGlove,
                backgroundColor: "#3e8d80",
              },
            ],
          };
          break;
      }
    },
    volumefilter(val) {
      sync: true;
      let PushDataTotal = [];
      let PushLabel = [];
      switch (this.volumetimedisplay) {
        case "month":
          var index = this.monthdisplay.findIndex((x) => x === val);
          console.log(index);
          var daysInMonth = new Date(2021, index + 1, 0).getDate();
          for (let i = 1; i <= parseInt(daysInMonth); ++i) {
            PushLabel.push(i);
            if (
              this.DAYield.filter(
                (x) => x.Day == i && x.Total > 0 && x.Month == index + 1
              ).length > 0
            ) {
              var Data = this.DAYield.filter((x) => x.Day == i && x.Month == index + 1);
              PushDataTotal.push(Data[0].Total);
            } else {
              PushDataTotal.push(0);
            }
          }

          this.productionvolume = {
            labels: PushLabel,
            datasets: [
              {
                label: "Production Volume",
                backgroundColor: "#3e8d80",
                data: PushDataTotal,
              },
            ],
          };
          break;
        case "threemonth":
          let startMonth = 1;
          let endMonth = 0;
          let chartLabelMonth = [];
          switch (val) {
            case "Jan-Mar":
              startMonth = 1;
              endMonth = 3;
              chartLabelMonth = ["January", "February", "March"];
              break;
            case "Apr-Jun":
              startMonth = 4;
              endMonth = 6;
              chartLabelMonth = ["April", "May", "June"];
              break;
            case "Jul-Sep":
              startMonth = 7;
              endMonth = 9;
              chartLabelMonth = ["July", "August", "September"];
              break;
            case "Oct-Dec":
              startMonth = 10;
              endMonth = 12;
              chartLabelMonth = ["October", "November", "December"];
              break;
          }

          for (let i = startMonth; i <= endMonth; ++i) {
            if (this.DAYield.filter((x) => x.Month == i && x.Total > 0).length > 0) {
              let Data = this.DAYield.filter((x) => x.Month == i && x.Total > 0);
              PushDataTotal.push(Data[0].Total);
            } else {
              PushDataTotal.push(0);
            }
          }

          this.productionvolume = {
            labels: chartLabelMonth,
            datasets: [
              {
                label: "Production Volume",
                backgroundColor: "#3e8d80",
                data: PushDataTotal,
              },
            ],
          };
          break;
        case "sixmonth":
          let start6Month = 1;
          let end6Month = 0;
          let chartLabel6Month = [];
          switch (val) {
            case "Jan-Jun":
              start6Month = 1;
              end6Month = 6;
              chartLabel6Month = ["January", "February", "March", "April", "May", "June"];
              break;
            case "Jul-Dec":
              start6Month = 6;
              end6Month = 12;
              chartLabel6Month = [
                "July",
                "August",
                "September",
                "October",
                "November",
                "December",
              ];
              break;
          }

          for (let i = start6Month; i <= end6Month; ++i) {
            if (this.DAYield.filter((x) => x.Month == i && x.Total > 0).length > 0) {
              let Data = this.DAYield.filter((x) => x.Month == i && x.Total > 0);
              PushDataTotal.push(Data[0].Total);
            } else {
              PushDataTotal.push(0);
            }
          }

          this.productionvolume = {
            labels: chartLabel6Month,
            datasets: [
              {
                label: "Production Volume",
                backgroundColor: "#3e8d80",
                data: PushDataTotal,
              },
            ],
          };
          break;
        case "year":
          for (let i = 1; i <= 12; ++i) {
            if (this.DAYield.filter((x) => x.Month == i && x.Total > 0).length > 0) {
              let Data = this.DAYield.filter((x) => x.Month == i && x.Total > 0);
              PushDataTotal.push(Data[0].Total);
            } else {
              PushDataTotal.push(0);
            }
          }
          this.productionvolume = {
            labels: this.chartLabel,
            datasets: [
              {
                label: "Production Volume",
                backgroundColor: "#3e8d80",
                data: PushDataTotal,
              },
            ],
          };
          break;
      }
    },
    events(val) {
      console.log(val);
    },
    meter(val) {
      sync: true;
      let PushData24V = [];
      let PushData12V = [];
      let PushDataAirPressure = [];
      let PushDataTemp = [];
      for (var k = 0; k < val.length; ++k) {
        this.meterLabel.push(val[k].Hourly);
        PushData24V.push(val[k]._24volt);
        PushData12V.push(val[k]._12volt);
        PushDataAirPressure.push(val[k].AirPressure);
        PushDataTemp.push(val[k].Tempreature);
      }

      this.twentyfourvolt = {
        labels: this.meterLabel,
        datasets: [
          {
            label: "24V",
            data: PushData24V,
            fill: true,
            tension: 0.4,
            borderColor: "#52B9A8",
            backgroundColor: "rgba(82,185,168,0.2)",
          },
        ],
      };

      this.twelvevolt = {
        labels: this.meterLabel,
        datasets: [
          {
            label: "12V",
            data: PushData12V,
            tension: 0.4,
            borderColor: "#f9b115",
            backgroundColor: "rgba(249,177,21,0.2)",
          },
        ],
      };

      this.airpressure = {
        labels: this.meterLabel,
        datasets: [
          {
            label: "Air Pressure",
            data: PushDataAirPressure,
            fill: true,
            borderColor: "#F1435B",
            tension: 0.4,
            backgroundColor: "rgba(241,67,91,0.2)",
          },
        ],
      };

      this.temperature = {
        labels: this.meterLabel,
        datasets: [
          {
            label: "Temprature",
            data: PushDataTemp,
            borderColor: "#5B78F1",
            tension: 0.4,
            backgroundColor: "rgba(91,120,241,0.2)",
          },
        ],
      };
    },
    DAYield(val) {
      let PushDataTotal = [];
      let PushDataPass = [];
      let PushDataReject = [];
      let PushDataRetest = [];
      let PushDataFailed = [];
      let PushDataNoGlove = [];
      for (let i = 1; i <= 12; ++i) {
        if (val.filter((x) => x.Month == i && x.Total > 0).length > 0) {
          let Data = val.filter((x) => x.Month == i && x.Total > 0);
          PushDataTotal.push(Data[0].Total);
          PushDataPass.push(((Data[0].Pass / Data[0].Total) * 100).toFixed(2));
          PushDataFailed.push(((Data[0].Failed / Data[0].Total) * 100).toFixed(2));
          PushDataRetest.push(((Data[0].Retest / Data[0].Total) * 100).toFixed(2));
          PushDataReject.push(((Data[0].Reject / Data[0].Total) * 100).toFixed(2));
          PushDataNoGlove.push(Data[0].NoGlove);
        } else {
          PushDataTotal.push(0);
          PushDataPass.push(0);
          PushDataFailed.push(0);
          PushDataRetest.push(0);
          PushDataReject.push(0);
          PushDataNoGlove.push(0);
        }
      }
      this.productionyield = {
        labels: this.chartLabel,
        datasets: [
          {
            label: "Pass",
            data: PushDataPass,
            borderColor: "#52B9A8",
            backgroundColor: "rgba(82,185,168,0.2)",
          },
          {
            label: "Retest",
            data: PushDataRetest,
            borderColor: "#f9b115",
            backgroundColor: "rgba(249,177,21,0.2)",
          },
          {
            label: "Fail",
            data: PushDataFailed,
            borderColor: "#F1435B",
            backgroundColor: "rgba(241,67,91,0.2)",
          },
          {
            label: "Reject",
            data: PushDataReject,
            borderColor: "#8F9BB3",
            backgroundColor: "rgba(143,155,179,0.2)",
          },
        ],
      };
      this.productionyieldNoGlove = {
        labels: this.chartLabel,
        datasets: [
          {
            label: "No Glove",
            data: PushDataNoGlove,
            backgroundColor: "#3e8d80",
          },
        ],
      };
      this.productionvolume = {
        labels: this.chartLabel,
        datasets: [
          {
            label: "Production Volume",
            backgroundColor: "#3e8d80",
            data: PushDataTotal,
          },
        ],
      };
    },
  },
  methods: {
    formatDate: function (value) {
      return moment(String(value)).format("DD/MM/YYYY hh:mm:ss");
    },
    ExcelEventLog: function (event) {
      axios
        .get("http://118.107.242.221:8585/api/DA/ExcelDownloadEvent/" + this.id, {
          responseType: "blob",
        })
        .then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          const current = new Date();
          link.href = url;
          link.setAttribute(
            "download",
            "EventReport_" +
              this.machineinfo.SerialNumber +
              "_" +
              current.getDate() +
              current.getMonth() +
              1 +
              current.getFullYear() +
              ".csv"
          );
          document.body.appendChild(link);
          link.click();
        });
    },
    ExcelFaultLog: function (event) {
      axios
        .get("http://118.107.242.221:8585/api/DA/ExcelDownloadFault/" + this.id, {
          responseType: "blob",
        })
        .then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          const current = new Date();
          link.href = url;
          link.setAttribute(
            "download",
            "FaultReport_" +
              this.machineinfo.SerialNumber +
              "_" +
              current.getDate() +
              current.getMonth() +
              1 +
              current.getFullYear() +
              ".csv"
          );
          document.body.appendChild(link);
          link.click();
        });
    },
    ExcelDownloadYield: function (event) {
      axios
        .get("http://118.107.242.221:8585/api/DA/ExceldownloadByMacYield/" + this.id, {
          responseType: "blob",
        })
        .then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          const current = new Date();
          link.href = url;
          link.setAttribute(
            "download",
            "ProductionYield_" +
              this.machineinfo.SerialNumber +
              "_" +
              current.getDate() +
              current.getMonth() +
              1 +
              current.getFullYear() +
              ".csv"
          );
          document.body.appendChild(link);
          link.click();
        });
    },
    BatchDownload: function (event) {
      axios
        .get("http://118.107.242.221:8585/api/DA/ExcelDownloadBatch/" + this.id, {
          responseType: "blob",
        })
        .then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          const current = new Date();
          link.href = url;
          link.setAttribute(
            "download",
            "BatchList_" +
              this.machineinfo.SerialNumber +
              "_" +
              current.getDate() +
              current.getMonth() +
              1 +
              current.getFullYear() +
              ".csv"
          );
          document.body.appendChild(link);
          link.click();
        });
    },
    ExcelDownloadVolume: function (event) {
      axios
        .get("http://118.107.242.221:8585/api/DA/ExceldownloadByMacVolume/" + this.id, {
          responseType: "arraybuffer",
        })
        .then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          const current = new Date();
          link.href = url;
          link.setAttribute(
            "download",
            "ProductionVolume_" +
              this.machineinfo.SerialNumber +
              "_" +
              current.getDate() +
              current.getMonth() +
              1 +
              current.getFullYear() +
              ".csv"
          );
          document.body.appendChild(link);
          link.click();
        });
    },
    selectYield: function (event) {
      console.log(event);
      this.$nextTick(() => {
        if (event == "month") {
          this.timedisplay = "month";
          this.yieldfilter = "Jan";
        } else if (event == "threemonth") {
          this.timedisplay = "threemonth";
          this.yieldfilter = "Jan-Mar";
        } else if (event == "sixmonth") {
          this.timedisplay = "sixmonth";
          this.yieldfilter = "Jan-Jun";
        } else if (event == "year") {
          this.timedisplay = "year";
          this.yieldfilter = "2021";
        }
      });
    },
    volumeselect: function (event) {
      this.$nextTick(() => {
        if (event == "month") {
          this.volumetimedisplay = "month";
          this.volumefilter = "Jan";
        } else if (event == "threemonth") {
          this.volumetimedisplay = "threemonth";
          this.volumefilter = "Jan-Mar";
        } else if (event == "sixmonth") {
          this.volumetimedisplay = "sixmonth";
          this.volumefilter = "Jan-Jun";
        } else if (event == "year") {
          this.volumetimedisplay = "year";
          this.volumefilter = "2021";
        }
      });
    },
    showgraph(graph) {
      if (graph == "percentage") {
        this.PercentageGraph = true;
        this.NoGloveGraph = false;
      } else if (graph == "noglove") {
        this.NoGloveGraph = true;
        this.PercentageGraph = false;
      }
    },
    machineColor: function (status) {
      console.log(status);
      var result = [];
      //- change after status rename
      if (status === "PRODUCTION") {
        result.push("operating");
      } else {
        result.push("standby");
      }
      return result;
    },
    fetchEventsList: function () {
      this.$store.dispatch("getMachineStatus", this.$store.state.currentmachine);
      this.$store.dispatch("getProduction", this.$store.state.currentmachine);
      this.$store.dispatch("getBatchList", this.$store.state.currentmachine);
    },
    fetchChart: function () {
      this.$store.dispatch("GetYield", this.id);
      this.$store.dispatch("GetMeter", this.id);
    },
    cancelAutoUpdate() {
      clearInterval(this.timer);
    },
    onRowSelect(event) {
      this.BatchProductType = event.data.cProductType;
      this.BatchLogBatchNo = event.data.cBatchNo;
      this.BatchProductSize = event.data.cProductSize;
      this.BatchOperator1 = event.data.cOperator1_Name;
      this.batchOperator2 = event.data.cOperator2_Name;
      this.batchOperator3 = "";
      this.batchOperator4 = "";
      this.batchInspector = event.data.cInspector_Name;
      this.batchPassed = event.data.cPassed_Op;
      this.batchRetest = event.data.cRetest_Op;
      this.batchReject = event.data.cReject_Op;
      this.batchFailed = event.data.cFailed_Op;
      this.batchNoGlove = event.data.cNoGlove_Op;
      this.batchRate = event.data.cRate;
      this.batchTotal =
        this.batchPassed + this.batchRetest + this.batchReject + this.batchFailed;
      this.batchPassedPer =
        this.batchTotal > 0
          ? ((this.batchPassed / this.batchTotal) * 100).toFixed(2) + "%"
          : "0%";
      this.batchRetestPer =
        this.batchTotal > 0
          ? ((this.batchRetest / this.batchTotal) * 100).toFixed(2) + "%"
          : "0%";
      this.batchRejectPer =
        this.batchTotal > 0
          ? ((this.batchReject / this.batchTotal) * 100).toFixed(2) + "%"
          : "0%";
      this.batchFailedPer =
        this.batchTotal > 0
          ? ((this.batchFailed / this.batchTotal) * 100).toFixed(2) + "%"
          : "0%";
      this.batchType = event.data.cGloveType;
      // this.$store.dispatch("getBatchLog", event.data.BatchNo);
    },
    readyupload: function (e) {
      let message = "";
      this.uploaded = e.files;
      e.files.forEach((i, index) => {
        console.log(i);
        console.log(index);
        const image = i;
        message += i.name + ",";
        let filenamelist = i.name.split(".");
        console.log(filenamelist[1]);
        console.log(i.type);
        console.log(i.size + " bytes");
      });
      this.$toast.add({
        severity: "success",
        summary: "Success Message",
        detail: message + " is ready for upload",
        life: 3000,
      });
    },
    CallibrationSave: function () {
      const data = JSON.stringify({
        machineid: this.id,
        note: this.softwarenote,
        createuserid: this.userid,
        modifyuserid: this.userid,
      });
      console.log(data);

      let formData = new FormData();
      this.uploaded.forEach((i, index) => {
        formData.append("file", i);
      });
      formData.append("VersionInfo", data);
      console.log(formData);
      let config = {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };

      axios
        .post(
          "http://118.107.242.221:8585/api/MachineInfo/SaveCallibration",
          formData,
          config
        )
        .then((response) => {
          this.$store.dispatch("getCallibration", this.id);
          this.file = "";
          this.$toast.add({
            severity: "success",
            summary: "Success Message",
            detail: "Files was saved into server!",
            life: 3000,
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    LicenseSave: function () {
      const data = JSON.stringify({
        machineid: this.id,
        note: this.softwarenote,
        createuserid: this.userid,
        modifyuserid: this.userid,
      });
      console.log(data);

      let formData = new FormData();
      this.uploaded.forEach((i, index) => {
        formData.append("file", i);
      });
      formData.append("VersionInfo", data);
      console.log(formData);
      let config = {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };

      axios
        .post("http://118.107.242.221:8585/api/MachineInfo/SaveLicense", formData, config)
        .then((response) => {
          this.$store.dispatch("getLicense", this.id);
          this.softwarename = "";
          this.softwarenote = "";
          this.$toast.add({
            severity: "success",
            summary: "Success Message",
            detail: "Files was saved into server!",
            life: 3000,
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
<style>
.intro {
  color: red;
  font-weight: bold;
}
</style>
