<template lang="pug">
AddMachinesModal(
  :addMachines="addMachines"
  @machines-modal="MachinesModalChange"
)
.machine
  .d-flex.justify-content-end(v-if="roles === '0'")
    .btn.btn-append(@click="runModal()") Add
  .row
    template(v-for="machine in machinelist")
      .col-lg-4
        .machine__wrapper--list
          template(v-if="roles === '0'")
            a.btn.btn-danger(v-on:click.stop.prevent="machineRemove(machine.Id)")
              i.cil-trash
          router-link.machine__individual(:to="{name: 'Machine Details', params:{id: machine.Id}}" :class="machine.Recordstatus")
            .img.operating(v-if="machine.Recordstatus == 'Production'")
            .img.off(v-if="machine.Recordstatus == 'Off'")
            .img.standby(v-if="machine.Recordstatus == 'Standby'")
            div
              .machine__individual--label.operating(v-if="machine.Recordstatus == 'Production'") {{machine.Recordstatus}} 
              .machine__individual--label.off(v-if="machine.Recordstatus == 'Off'") {{machine.Recordstatus}} 
              .machine__individual--label.standby(v-if="machine.Recordstatus == 'Standby'") {{machine.Recordstatus}} 
              h6 {{machine.SerialNumber}}
              p {{machine.Location}}
</template>
<style lang="scss" scoped>
.machine__individual.Off{
  pointer-events: none;
  &:hover{
    cursor: not-allowed;
  }
}
</style>

<script>
import AddMachinesModal from "@/components/AddMachinesModal.vue";
import axios from "axios";
export default {
  components:{
    AddMachinesModal,
  },
  data() {
    return {
      addMachines :false,
      timer: "",
      roles: this.$cookies.get("Roles"),
    };
  },
  props: ["id"],
  created() {
    this.statecurrentcompany;
    this.fetchEventsList();
    this.timer = setInterval(this.fetchEventsList, 3000);
    
  },
  computed: {
    machinelist() {
      return this.$store.state.machinelist;
    },
    statecurrentcompany: function (event) {
      this.$store.commit("SET_CurrentCompany", this.id);
    },
  },
  mounted() {
    console.log(this.id);
    this.$store.dispatch("getMachineList", this.id);
  },
  methods: {
    runModal(){
      this.addMachines = true
    },
    MachinesModalChange(event){
      this.addMachines = event
    },
    fetchEventsList: function () {
      this.$store.dispatch("getMachineList", this.$store.state.currentcompany);
    },
    cancelAutoUpdate() {
      clearInterval(this.timer);
    },
    machineRemove: function (machineid) {
      this.$confirm.require({
        message: "Are you sure you want to proceed?",
        header: "Confirmation",
        icon: "pi pi-exclamation-triangle",
        accept: () => {
          //callback to execute when user confirms the action
          axios
            .post(
              "http://118.107.242.221:8585/api/MachineInfo/RemoveMachine/" + machineid
            )
            .then((response) => {
              this.$toast.add({
                severity: "success",
                summary: "Success Message",
                detail: "Machine Success Removed",
                life: 3000,
              });
              this.$store.dispatch("getMachineList", this.$store.state.currentcompany);
              console.log(this.$store.state.machinelist);
            });
        },
        reject: () => {
          //callback to execute when user rejects the action
        },
      });
    },
  },
};
</script>
