<template lang="pug">
.operatorlist
  .d-flex.justify-content-between.align-items-center
    h4.my-3 Operator Data List
    .btn.btn-danger Delete All

  DataTable(:value="operators" editMode="row" dataKey="" v-model:editingRows="editingRows" @rowEditInit="onRowEditInit" @rowEditCancel="onRowEditCancel" :paginator="true" :rows="10" responsiveLayout="scroll"
    v-model:filters="filtersoperators"  :loading="loadingoperators"
    :globalFilterFields="['EmployeeName','EmployeeId' , 'Email']" )
    template(#header)
      .form-group.append.search
        input.form-control(type='text' v-model="filtersoperators['global'].value" placeholder="Keyword Search")
        i.cil-search
    template(#empty) No Operator Found.
    template(#loading) Loading Operator Data. Please wait.
    Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible" header="No")
      template(#body="rowIndex")
        | {{ rowIndex.index + 1 }}
    Column(field="EmployeeName" header="Operator Name" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="EmployeeId" header="Operator ID" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="Email" header="Email" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(:rowEditor="true" bodyStyle="text-align:right")
    Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible")
      template(#body ="slotProps")
        .d-flex
          .btn.btn-small.btn-danger.mx-2(v-on:click="RemoveOperator(slotProps.data.Id)")
            i.cil-trash
</template>
<script>
import { FilterMatchMode, FilterOperator } from "primevue/api";
export default {
  data() {
    return {
      operators: [],
      filtersoperators: null,
      loadingoperators: true,
      editingCellRows: {},
      editingRows: [],
    };
  },
  props: ["id"],
  originalRows: null,
  created() {
    this.initFiltersoperators();
    this.originalRows = {};
  },
  mounted() {
    this.$store.dispatch("getEmployeeList", this.id);
    this.$store.commit("SET_CurrentCompany", this.id);
    console.log(this.$cookies.get("CompanyID"));
    this.loadingoperators = false;
  },
  computed: {
    operators() {
      return this.$store.state.employeelist;
    },
  },
  methods: {
    initFiltersoperators() {
      this.filtersoperators = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
      };
    },
    onRowEditInit(event) {
      this.originalRows[event.index] = {...this.companylist[event.index]};
    },
    onRowEditCancel(event) {
      this.companylist[event.index] = this.originalRows[event.index];
    },
    RemoveOperator(val) {
      this.$confirm.require({
        message: "Are you sure you want to proceed?",
        header: "Confirmation",
        icon: "pi pi-exclamation-triangle",
        // accept: () => {
        //   //callback to execute when user confirms the action
        //   axios
        //     .post("https://localhost:44306/api/Company/RemoveAccess/" + val)
        //     .then((response) => {
        //       this.$toast.add({
        //         severity: "success",
        //         summary: "Success Message",
        //         detail: "Access Success Removed",
        //         life: 3000,
        //       });
        //       this.$store.dispatch("getCompanyInfo");
        //     });
        // },
        reject: () => {
          //callback to execute when user rejects the action
        },
      });
    },
  },
};
</script>
