<template lang="pug">
.productlist
  .d-flex.justify-content-between.align-items-center
    h4.my-3 Product Setting List
    .btn.btn-danger Delete All
  DataTable(:value="productsettings" editMode="row" dataKey="" v-model:editingRows="editingRows" @rowEditInit="onRowEditInit" @rowEditCancel="onRowEditCancel" :paginator="true" :rows="10" responsiveLayout="scroll"
    v-model:filters="filtersproducts"  :loading="loadingproducts"
    :globalFilterFields="['Cardid','Employee','CreateDate','ProductTitle','ProductType','ProductSize','InflatePressure','Inflate1','Inflate2','RejectAssist','GloveIllumination','AirEjectGood','AirEjectRetest','StartTest','TestFor','PassCode','GloveType','GloveType',]" )
    template(#header)
      .form-group.append.search
        input.form-control(type='text' v-model="filtersproducts['global'].value" placeholder="Keyword Search")
        i.cil-search
    template(#empty) No Product Found.
    template(#loading) Loading Product Data. Please wait.
    Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible" header="No")
      template(#body="rowIndex")
        | {{ rowIndex.index + 1 }}
    Column(field="CreateDate" header="Product Register Date Time" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="ProductTitle" header="Product Title" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="ProductType" header="Product Type" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="ProductSize" header="Product Size" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="InflatePressure" header="Inflate Pressure" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="Inflate1" header="Inflate 1" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="Inflate2" header="Inflate 2" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="RejectAssist" header="Reject Assist" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="GloveIllumination" header="Glove illumination" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="AirEjectGood" header="Air Eject Good" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="AirEjectRetest" header="Air Eject Retest" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="StartTest" header="Start Test" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="TestFor" header="Test For" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="PassCode" header="Pass Code" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="GloveType" header="Glove Type" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(field="GloveType" header="State Glove Type" :sortable="true" filterMatchMode="startsWith")
      template(#editor="slotProps")
        input.form-control(type="text" v-model="slotProps.data[slotProps.column.props.field]")
    Column(:rowEditor="true"  bodyStyle="text-align:right")
    Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible")
      template(#body ="slotProps")
        .btn.btn-small.btn-danger.mx-2(v-on:click="RemoveProduct(slotProps.data.Id)")
          i.cil-trash
</template>
<script>
import dayjs from "dayjs";
import {FilterMatchMode,FilterOperator} from 'primevue/api';
export default {
  data() {
    return {
      productsettings: [],
      filtersproducts: null,
      loadingproducts: true,
      editingCellRows: {},
      editingRows: [],
    };
  },
  props: ["id"],
  created(){
    this.initFiltersproducts();
  },
  computed: {
    productsettings() {
      return this.$store.state.productsetting;
    },
  },
  mounted() {
    this.$store.dispatch("getProductSetting", this.id);
    this.$store.commit("SET_CurrentCompany", this.id);
    this.loadingproducts = false;
  },
  methods:{
    initFiltersproducts() {
        this.filtersproducts = {
            'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
        }
    },
    onRowEditInit(event) {
      this.originalRows[event.index] = {...this.companylist[event.index]};
    },
    onRowEditCancel(event) {
      this.companylist[event.index] = this.originalRows[event.index];
    },
    RemoveProduct(val) {
      this.$confirm.require({
        message: "Are you sure you want to proceed?",
        header: "Confirmation",
        icon: "pi pi-exclamation-triangle",
        // accept: () => {
        //   //callback to execute when user confirms the action
        //   axios
        //     .post("https://localhost:44306/api/Company/RemoveAccess/" + val)
        //     .then((response) => {
        //       this.$toast.add({
        //         severity: "success",
        //         summary: "Success Message",
        //         detail: "Access Success Removed",
        //         life: 3000,
        //       });
        //       this.$store.dispatch("getCompanyInfo");
        //     });
        // },
        reject: () => {
          //callback to execute when user rejects the action
        },
      });
    },
  }
};
</script>
