<template lang="pug">
.profile
  .row
    .col-lg-12
      .my-3.mb-4
        h4 Account Password Change
        //- small Change Password here
      .form-group
          label(for='newpassword') New Password
          input#newpassword.form-control(type="password" placeholder="New Password" v-model="newpassword")
      .form-group
          label(for='confirmpassword') Confirm Password
          input.form-control#password(type="password" placeholder="Confirm Password" v-model="confirmpassword")
    .col-lg-12.button__wrapper.justify-content-end.d-flex
      button(@click="updatePassword" @keyup.enter='updatePassword').btn.btn-primary Update Password

</template>
<style lang="scss"></style>
<script>
// @ is an alias to /src
import axios from "axios";
export default {
  name: "Home",
  components: {},
  data() {
    return {
      v4softwares: [
        {
          name: "V 4.1",
          date: "22/01/2021",
          time: "11:30",
          note: "This is Note",
        },
      ],
      v5softwares: [
        {
          name: "V 5.1",
          date: "22/10/2021",
          time: "14:30",
          note: "This is V5 Note",
        },
      ],
    };
  },
  methods: {
    updatePassword: function () {
      if (this.newpassword != this.confirmpassword) {
        this.$toast.add({
          severity: "error",
          summary: "Password Not Match",
          detail: "Password Must Match!",
          life: 3000,
        });
      } else {
        const data = JSON.stringify({
          email: this.$cookies.get("Username").toLowerCase(),
          password: this.newpassword,
        });
        axios
          .post("http://118.107.242.221:8585/api/User/UpdatePassword", data, {
            headers: {
              "Content-Type": "application/json",
            },
          })
          .then((response) => {
            this.$toast.add({
              severity: "success",
              summary: "Success",
              detail: "Reset Password Success",
              life: 3000,
            });
            this.forgotpasswordmodal = false;
          });
      }
    },
  },
};
</script>
