<template lang="pug">
.reportlist
  .d-flex.align-items-center.justify-content-between
    h4.my-3 Report List
    template.d-none
      .d-flex.align-items-end.flex-column
        small  Total Client Registered
        h5 10/100
  .form-group.append.search
    input.form-control(type='text' placeholder='Search')
    .btn.btn-primary Search
  DataTable(:value="reports" :paginator="true" :rows="10" responsiveLayout="scroll")
    Column(field="companyname" header="Company Name" :sortable="true" filterMatchMode="startsWith")
    Column(field="reportid" header="Report ID" :sortable="true" filterMatchMode="startsWith")
    Column(field="generateddate" header="Generated Date" :sortable="true" filterMatchMode="startsWith")
    Column(field="amount" header="Amount (RM)" :sortable="true" filterMatchMode="startsWith")
    Column(field="note" header="Note" :sortable="true" filterMatchMode="startsWith")
    Column(headerStyle="width: 4rem; text-align: center" bodyStyle="text-align: center; overflow: visible")
      template(#body)
        .justify-content-center.d-flex
            .btn.btn-small.btn-info.mx-2 
              i.cil-view-module  
            .btn.btn-small.btn-danger.mx-2
              i.cil-trash
            .btn.btn-small.btn-primary.mx-2
              i.cil-pencil
  //- .overthrow
  //-   table.table
  //-     thead
  //-       tr
  //-         th(scope='col') Company Name
  //-         th(scope='col') Report ID
  //-         th(scope='col') Generated Date
  //-         th(scope='col') Amount (RM)
  //-         th(scope='col') Note
  //-         th(scope='col') 
  //-     tbody
  //-       tr(v-for="report in reports")
  //-         td(scope='row') {{ report.companyname }}
  //-         td {{ report.reportid }}
  //-         td {{ report.generateddate }}
  //-         td {{ report.amount }}
  //-         td {{ report.note }}
  //-         td.justify-content-center.d-flex
  //-           .btn.btn-small.btn-pending.c-pending.mx-2 
  //-             i.cil-view-module.c-pending  
  //-           .btn.btn-small.btn-danger.mx-2
  //-             i.cil-trash
  //-           .btn.btn-small.btn-primary.mx-2
  //-             i.cil-pencil
</template>
<script>
export default {
  data() {
    return{
      reports:[
        {
          companyname: 'Jack Sdn Bhd',
          reportid: '15034',
          generateddate: '15/03/2014',
          amount: '100',
          note: 'This is Note',
        },
        {
          companyname: 'Michelle Sdn Bhd',
          reportid: '15034',
          generateddate: '15/03/2014',
          amount: '100',
          note: 'This is Note',
        },
      ],
    }
  },
}
</script>