<template>
    <table style="width: 900px; margin: 70px auto ">
        <!-- Header -->
        <tr>
            <td>
                <table style="text-align: center; margin: auto;">
                    <tr>
                        <td>
                            <img style="max-width: 200px;" src="@/assets/img/QMAX-Logo.png">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 50px"> </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 style="text-decoration: underline; font-weight: bold;">
                                Machine Utilization Report
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 50px"> </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- Report Details -->
        <tr>
            <td>
                <table>
                    <tr>
                        <td style="font-weight: bold;">Report ID</td>
                        <td>&nbsp; : &nbsp;QM4MUR2021001</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Customer</td>
                        <td>&nbsp; : &nbsp;Molnlycke Healthcare Sdn Bhd</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Utilization period</td>
                        <td>&nbsp; : &nbsp;28/7/2021 ~ 27/8/2021</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- Detail Table -->
        <tr>
            <td style="padding-top : 50px"></td>
        </tr>
        <tr>
            <td style="font-weight: bold; text-decoration: underline;">Detail Report</td>
        </tr>
        <tr>
            <td style="padding-top : 10px"></td>
        </tr>
        <tr>
            <table style="width :100%; border: 1px solid black;">
                <!-- Table Header -->
                <tr>
                    <th style="border: 1px solid black; padding : 3px 5px;">No.</th>
                    <th style="border: 1px solid black; padding : 3px 5px;">Machine ID</th>
                    <th style="border: 1px solid black; padding : 3px 5px;">Pass</th>
                    <th style="border: 1px solid black; padding : 3px 5px;">Retest</th>
                    <th style="border: 1px solid black; padding : 3px 5px;">Fail</th>
                    <th style="border: 1px solid black; padding : 3px 5px;">Reject</th>
                    <th style="border: 1px solid black; padding : 3px 5px;">No Glove</th>
                </tr>
                <!-- Processes Glove for each Machine -->
                <tr :key="item" v-for=" item in 7">
                    <td style="border: 1px solid black; padding : 3px 5px;">{{ item }}</td>
                    <td style="border: 1px solid black; padding : 3px 5px;">QM4211600{{item}}</td>
                    <td style="border: 1px solid black; padding : 3px 5px;">2,000,000</td>
                    <td style="border: 1px solid black; padding : 3px 5px;">20,000</td>
                    <td style="border: 1px solid black; padding : 3px 5px;">100,000</td>
                    <td style="border: 1px solid black; padding : 3px 5px;">10,000</td>
                    <td style="border: 1px solid black; padding : 3px 5px;">20,000</td>
                </tr>

                <!-- Total of gloves -->
                <tr>
                    <td style="border: 1px solid black; padding: 3px 5px; text-align:right; font-weight: bold;" colspan="2"> Total</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">12,000,000</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">120,000</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">600,000</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">600,000</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">120,000</td>
                </tr>
                <!-- Price / Rate of Glove per 1000 pcs -->
                <tr>
                    <td style="border: 1px solid black; padding: 3px 5px; text-align:right; font-weight: bold;" colspan="2">Rate (per 1000pcs)</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">{{ currency }}10</td>
                    <template :key="item" v-for=" item in 4">
                        <td style="border: 1px solid black; padding: 3px 5px;">{{ currency }}120,000</td>
                    </template>  
                </tr>
                <!-- Price of Glove proccessed -->
                <tr>
                    <td style="border: 1px solid black; padding: 3px 5px; text-align:right; font-weight: bold;" colspan="2"> Charges</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">{{ currency }}120,000</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">{{ currency }}240</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">{{ currency }}1,200</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">{{ currency }}120</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">{{ currency }}240</td>
                </tr>
            </table>
        </tr>
        <!-- Summary -->
        <tr>
            <td style="padding-top : 50px"></td>
        </tr>
        <tr>
            <td style="font-weight: bold; text-decoration: underline;">Summary</td>
        </tr>
        <tr>
            <td style="padding-top : 10px"></td>
        </tr>
        <tr>
            <table>
                <tr>
                    <td style="border: 1px solid black; padding: 3px 5px; font-weight: bold;">Total Charges</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">{{ currency }}121,800.00</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 3px 5px; font-weight: bold;">Discount</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">10%</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; padding: 3px 5px; font-weight: bold;">Final Charges</td>
                    <td style="border: 1px solid black; padding: 3px 5px;">{{ currency }}109,620.00</td>
                </tr>
            </table>
        </tr>
        <tr>
            <td style="padding-top : 50px"></td>
        </tr>
        <tr>
            <td style="font-weight: bold; text-decoration: underline;">Notes</td>
        </tr>
        <tr>
            <td style="padding-top : 10px"></td>
        </tr>
        <tr>
            <td>This is the Machine Utilization Report for month of July 2021</td>
        </tr>
    </table>
</template>
<style scoped>

</style>
<script>
export default {
    data(){
        return{
            currency : 'USD ',
        }
    }
}
</script>