<template lang="pug">
Toast
.login.login__background
    .login__wrapper
        h1.text-center.mb-5 Reset Password
        .form-group
            label(for='newpassword') New Password
            input#newpassword.form-control(type="password" placeholder="New Password" v-model="newpassword")
        .form-group
            label(for='confirmpassword') Confirm Password
            input.form-control#password(type="password" placeholder="Confirm Password" v-model="confirmpassword")
        button(@click="updatePassword" @keyup.enter='updatePassword').btn.btn-primary Password Reset
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {};
  },
  created() {},
  props: ["email"],
  methods: {
    updatePassword: function () {
      if (this.newpassword != this.confirmpassword) {
        this.$toast.add({
          severity: "error",
          summary: "Password Not Match",
          detail: "Password Must Match!",
          life: 3000,
        });
      } else {
        const data = JSON.stringify({
          email: this.email.toLowerCase(),
          password: this.newpassword,
        });
        axios
          .post("http://118.107.242.221:8585/api/User/UpdatePassword", data, {
            headers: {
              "Content-Type": "application/json",
            },
          })
          .then((response) => {
            this.$toast.add({
              severity: "success",
              summary: "Success",
              detail: "Reset Password Success",
              life: 3000,
            });
            if (response.status == "200") {
              window.location.href = "http://118.107.242.221:8888/";
            }
            this.forgotpasswordmodal = false;
          });
      }
    },
  },
};
</script>
