<template lang="pug">
.activitylist
  .d-flex.align-items-center.justify-content-between.my-2
    h4.my-3 Service Provider Activity List
    .btn.btn-append Download
  h4.mb-1 Service Provider
  DataTable(:value="serviceprovideractivities" :paginator="true" :rows="10" responsiveLayout="scroll")
    Column(field="CreateDate" header="Date" :sortable="true" filterMatchMode="startsWith")
    Column(field="Activity" header="Activities" :sortable="true" filterMatchMode="startsWith")
</template>
<script>
export default {
  data() {
    return {
      serviceprovideractivities: [
        {
          date: "15/03/2014",
          time: "10:00",
          description: "This is Note",
        },
      ],
    };
  },
  computed: {
    serviceprovideractivities() {
      return this.$store.state.clientadminlog;
    },
  },
  mounted() {
    this.$store.dispatch("getClientAdminLog", this.$cookies.get("UserID"));
  },
};
</script>
