<template lang="pug">
.uploadsofware
  .my-3.mb-4
    h4 Software Version Upload
    small Browse for the file and click upload to process the files to the machines
  .row
    .col-lg-6
      .form-group
        label(for="exefile") Upload package (.exe / .aliases / .ini file)
        FileUpload(name='demo[]' mode="advanced" :customUpload="true" @uploader="readyupload" :showCancelButton="true" :showUploadButton="false" :multiple="true" :auto="true" cancelLabel="Cancel" chooseLabel="Choose" v-model="file")
          template(#empty)
            p Drag and drop files to here to upload.
    .col-lg-6
      .form-group
        label(for='version') Version Generation
        select.form-control#version(v-model="selectGen")
          option(value='0', disabled='') Please Select Version Generation
          option(v-for='item in gen', v-bind:value='{id: item.id, name: item.name}') {{item.name}}
      .form-group
        label(for="softwarename") Version Title
        input#softwarename.form-control(type='text' placeholder='Version Title' v-model="softwarename")
      .form-group
        label(for="softwarenote") Remark
        textarea#softwarenote.form-control(type='text' placeholder='Note' rows="4" max-row="6" v-model="softwarenote")
    .col-lg-12.d-flex.justify-content-end.mt-3
      .btn.btn-primary(v-on:click='versionSave') Upload
    .col-lg-12
      .my-3
        h4 Software Uploaded History
      ul.nav.nav-tabs#softwareTab(role='tablist')
        li.nav-item
          a.nav-link.active#v4-tab(data-toggle='tab' href='#v4' role='tab' aria-controls='v4' aria-selected='true') V4
        li.nav-item
          a.nav-link#v5-tab(data-toggle='tab' href='#v5' role='tab' aria-controls='v5' aria-selected='false') V5
      .tab-content#softwareTabContent
        .tab-pane.fade.show.active#v4(role='tabpanel' aria-labelledby='v4-tab') 
          DataTable(:value="v4softwares" :paginator="true" :rows="10" responsiveLayout="scroll")
            Column(field="VersionName" header="Version Title" :sortable="true" filterMatchMode="startsWith")
            Column(field="CreateDate" header="Date" :sortable="true" filterMatchMode="startsWith")
            Column(field="Note" header="Note" :sortable="true" filterMatchMode="startsWith")
            template(#empty) No records found.

        .tab-pane.fade#v5(role='tabpanel' aria-labelledby='v5-tab') 
          DataTable(:value="v5softwares" :paginator="true" :rows="10" responsiveLayout="scroll")
            Column(field="VersionName" header="Version Title" :sortable="true" filterMatchMode="startsWith")
            Column(field="CreateDate" header="Date" :sortable="true" filterMatchMode="startsWith")
            Column(field="Note" header="Note" :sortable="true" filterMatchMode="startsWith")
            template(#empty) No records found.

</template>
<style lang="scss"></style>
<script>
// @ is an alias to /src
import axios from "axios";
export default {
  name: "Home",
  components: {},
  data() {
    return {
      v4softwares: [
        {
          name: "V 4.1",
          date: "22/01/2021",
          time: "11:30",
          note: "This is Note",
        },
      ],
      v5softwares: [
        {
          name: "V 5.1",
          date: "22/10/2021",
          time: "14:30",
          note: "This is V5 Note",
        },
      ],
      uploaded: [],
      selectGen: 0,
      FileUpload: [],
    };
  },
  props: ["id"],
  computed: {
    gen() {
      return this.$store.state.gen;
    },
    v4softwares() {
      return this.$store.state.versionlist.filter((x) => x.VersionGeneration == 1);
    },
    v5softwares() {
      return this.$store.state.versionlist.filter((x) => x.VersionGeneration == 2);
    },
  },
  mounted() {
    this.$store.dispatch("getVersionList", this.id);
    console.log(this.$store.state.currentcompanyname);
  },
  methods: {
    versionSave: function () {
      const data = JSON.stringify({
        versiongeneration: this.selectGen.id,
        versionname: this.softwarename,
        companyid: this.id,
        note: this.softwarenote,
        createuserid: 1,
        modifyuserid: 1,
      });
      console.log(data);

      let formData = new FormData();
      this.uploaded.forEach((i, index) => {
        formData.append("file", i);
      });
      formData.append("VersionInfo", data);
      console.log(formData);
      let config = {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      };

      axios
        .post("http://118.107.242.221:8585/api/Version/SaveVersion", formData, config)
        .then((response) => {
          this.$store.dispatch("getVersionList", this.id);
          this.selectGen.id = 0;
          this.softwarename = "";
          this.softwarenote = "";
          this.$router.go();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    readyupload: function (e) {
      let message = "";
      this.uploaded = e.files;
      e.files.forEach((i, index) => {
        console.log(i);
        console.log(index);
        const image = i;
        message += i.name + ",";
        let filenamelist = i.name.split(".");
        console.log(filenamelist[1]);
        console.log(i.type);
        console.log(i.size + " bytes");
      });
      this.$toast.add({
        severity: "success",
        summary: "Success Message",
        detail: message + " is ready for upload",
        life: 3000,
      });
    },
  },
};
</script>
