
.logo__cont{
    @include center(space-between);
    margin: px_to_rem(7) 0;
    img{
        max-width: px_to_rem(100);
    }
    .profile{
        width: px_to_rem(35);
        height: px_to_rem(35);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s all ease-in-out;
        &:hover{
            text-decoration: none;
            transform: scale(1.1);
            color: darken($primary-light , 27%);
        }
        i{
            font-size: 2rem;
        }
    }
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $light-grey;
    .header{
        @include center(flex-start);
        a{
            background-color: $primary-dark;
            color: $white;
            font-size: px_to_rem(10);
            width: px_to_rem(80);
            height: px_to_rem(75);
            margin: px_to_rem(14) px_to_rem(7) 0 0;
            padding: px_to_rem(7);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
            transition: .2s all ease-in-out;
            &:hover{
                text-decoration: none;
                color: darken($primary-light, 2%);
                transform: scale(1.02);
            }
        }
    }
}