.login{
    &__background{
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/assets/img/qmax-bg.jpg');
        display: flex;
        max-height: 100vh;
        min-height: 100vh;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    &__logo{
        max-width: 150px;
        margin: 3rem auto;
    }
    &__wrapper{
        width: 40%;
        max-width: 450px;
        margin:  auto;
        padding: 1rem 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 55vh;
        background-color: rgba($color: #000, $alpha: .6);
        h1{
            color: $white;
        }
        .form-group{
            label{
                color: white;
            }
        }
    }
    .btn.btn-primary{
        font-size: 1rem;
    }
    .forgot-password{
        font-size: .8rem;
        margin-top: .5rem;
        color: $white;
        &:hover{
            color: darken($white , 10%);
            text-decoration: underline;
        }
    }
}
.bg-dashbaord{
    background-color: $light-grey;
}