//main layout
.content{
    &__wrapper{
        display: flex;
    }
}
body.modal-open{
    overflow: unset !important;
}
.side-menu{
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    flex: 1;
    min-width: 65px;
    @include center();
    @include gradient-bg(135deg);
    &__wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: calc(100% / 2 );
        width: 100%;
        li{
            flex: 1;
            @include center();
            background-color: $pending;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            margin-left: 1rem;
            margin-bottom: 2rem;
            position: relative;
            transition: all .2s ease-in-out;
            @media screen and (max-height: 767px) {
                margin-bottom: 1.3rem;
            }
            &:active , &:focus{
                transform: scale(.95);
            }
            &:before , &:after{
                content: " ";
                position: absolute;
                height: 9.3px;
                width: 59px;
                transform: rotate(90deg);
                right: -25px;
            }
            &:before {
                top: -34px;
                border-radius: 0 46px 0 0px;
                box-shadow: 50px 0 0 0 $pending;
            }
            &:after {
                bottom: -34px;
                box-shadow: -50px 0 0 0 $pending;
                border-radius: 46px 0 0 0;
            }
            &.active{
                &:before {
                    box-shadow: 50px 0 0 0 $white;
                }
                &:after {
                    box-shadow: -50px 0 0 0 $white;
                }
                background-color: $white;
                i,svg{
                    color: $grey;
                }
            }
            a{
                margin: 0;
                width: 100%;
                height: 100%;
                @include center();
            }
            i,svg{
                color: $white;
            }
        }
    }
}
