/* Mark-up - selectors used throughout site. */

//Colors
$primary-dark:#3e8d80; 
$primary-light: #FBD470;
$secondary-dark: #5B78F1;
$font-color: #1a1a1a;
$dark-grey: #8F9BB3;
$light-grey: #F7F9FC;
$medium-grey: #C5CEE0;
$text-color: #1a1a1a;
$grey: #555555;
$white: white;
$black: black;
$danger: #F1435B;
// Status color
$successful:  #3e8d80;
$pending:#FBD470;
$error: #F1435B;
$info: #5B78F1;

//Background
$background-grey:  #EDF8F3;
$background-green : #CEEBCF;
$background-yellow : #FFF2D5;
$background-blue : #CEDEEB;

// Supporting Color
$input-border : transparent;
$input-label : #6482A5;
$icon-color : $dark-grey;


// Loop Color
$colors:(
  "red": $error, 
  "white": $white, 
  "blue": $info, 
  "green": $successful,
  "text-dark" : $grey, 
  "text-light":$dark-grey, 
  'primary-dark':$primary-dark,
  'primary-light':$primary-light,
  'pending':$pending,
);
@each $name, $code in $colors {
  .c-#{$name}{
    color: $code !important;
    // &:hover{
    //   color: darken($color: $code, $amount: 10%);
    // }
  }
}

// Gradients
@mixin gradient-bg($degree : 90deg) {
  background: linear-gradient($degree, $primary-dark 0.01%, $primary-light 100.01%);
}


$grey-base:              #000;
$grey-darker:            lighten($grey-base, 13.5%); // #222
$grey-dark:              lighten($grey-base, 20%);   // #333
$grey:                   lighten($grey-base, 33.5%); // #555
$grey-light:             lighten($grey-base, 46.7%); // #777
$grey-lighter:           lighten($grey-base, 93.5%); // #eee

@for $i from 20 through 100 {
    @if $i % 10 == 0 {
      $percentage: $i*1%;
      .darken-#{$i} {
        background-color: darken($black, $percentage);
      }
      .lighten-#{$i} {
        background-color: lighten($black, $percentage);
      }
      .mix-black-#{$i} {
        background-color: mix(black, $black, $percentage);
      }
      .mix-white-#{$i} {
        background-color: mix(white, $black, $percentage);
      }
    }
}

// Horizontal gradient, from left to right
@mixin gradient-x($start-color: $primary-dark, $end-color: $primary-light, $start-percent: 0%, $end-percent: 100%){
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
  background-repeat: repeat-x
}
  
// Vertical gradient, from top to bottom
@mixin gradient-y($start-color: $gray-700, $end-color: $gray-800, $start-percent: 0%, $end-percent: 100%) {
    background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
    background-repeat: repeat-x;
}

@mixin gradient-directional($start-color: $gray-700, $end-color: $gray-800, $deg: 45deg) {
    background-image: linear-gradient($deg, $start-color, $end-color);
    background-repeat: repeat-x;
}
@mixin gradient-x-three-colors($start-color: $blue, $mid-color: $purple, $color-stop: 50%, $end-color: $red) {
    background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
}
@mixin gradient-y-three-colors($start-color: $blue, $mid-color: $purple, $color-stop: 50%, $end-color: $red) {
    background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
}
@mixin gradient-radial($inner-color: $gray-700, $outer-color: $gray-800) {
    background-image: radial-gradient(circle, $inner-color, $outer-color);
    background-repeat: no-repeat;
}
@mixin gradient-striped($color: rgba($white, .15), $angle: 45deg) {
    background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}
// Block Color
.passed{
  background-color: $successful;
  color: white;
}
.failed{
  background-color: $error;
  color: white;
}
.retest{
  background-color: $warning;
  color: $font-color;
}
.reject{
  background-color: $dark-grey;
  color: white;
}
.total{
  background-color: $info;
  color: white;
}