// Font

@mixin font-kerning($value) {
    -webkit-font-kerning: $value;
            font-kerning: $value;
}

// font-feature-settings

@mixin font-feature-settings($value) {
    -webkit-font-feature-settings: $value;  /* Chrome 16-26, Blackberry 10 */
       -moz-font-feature-settings: $value;  /* Firefox 4-21 */
            font-feature-settings: $value;  /* IE 10, Safari 4.0-6.0 */
}

@mixin font-variant-ligatures($value) {
    -webkit-font-variant-ligatures: $value;
            font-variant-ligatures: $value;
}


@mixin reset-text {
    font-family: $font-family-base;
    // We deliberately do NOT reset font-size or word-wrap.
    font-style: normal;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    text-align: left; // Fallback for where `start` is not supported
    text-align: start; // stylelint-disable-line declaration-block-no-duplicate-properties
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
}