$Serif			: Georgia, "Times New Roman", serif;
$SansSerif		: "Source Sans Pro", Arial, Helvetica, sans-serif;
$Monospace		: "Lucida Console", Monaco, monospace;


//position use
@mixin center($position : center){
    display: flex;
    align-items: center;
    justify-content: $position;
}


@mixin respond($breakpoint) {
//     @if $breakpoint == phone {
//         @media only screen and (max-width: 37.5em) { @content };    //600px
//     }
//     @if $breakpoint == tab-port {
//         @media only screen and (max-width: 56.25em) { @content };     //900px
//     }
//     @if $breakpoint == navbar {
//         @media only screen and (max-width: 61.998em) { @content };  //991.98px
//     }
//     @if $breakpoint == header-hamburger {
//         @media only screen and (max-height: 500px) and (min-height: 410px) { @content };  //991.98px
//     }
//     @if $breakpoint == tab-land {
//         @media only screen and (max-width: 75em) { @content };    //1200px
//     }
//     @if $breakpoint == desktop {
//         @media screen and (min-device-width: 61.94em) and (max-device-width: 79em) { 
//             @content;
//         }
//     }
//     @if $breakpoint == big-desktop {
//         @media only screen and (min-width: 112.5em) { @content };    //1800
//     }
   @media only screen and (max-width:$breakpoint) { @content };    //declare by yourself
}




@mixin firefox-only {
    @at-root {
      @-moz-document url-prefix() {
        & {
          @content;
        }
      }
    }
  }
  
//traworld icon func
@mixin icon($vertical,$fontsize,$lineheight,$marginposition,$margin) {
	vertical-align: $vertical;
    font-size: $fontsize;
    line-height: $lineheight;
    margin-#{$marginposition}: $margin;
}

@mixin fontface($name, $file, $weight: normal, $style: normal, $others: false){
	@if $others {
		font-family: "#{$name}";
		src: url('../fonts/#{$file}.eot');
		src: url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
			url('../fonts/#{$file}.woff') format('woff'),
			url('../fonts/#{$file}.ttf') format('truetype'),
			url('../fonts/#{$file}.svg?#webfont') format('svg');
		font-weight: $weight;
		font-style: $style;
	} @else {
		font-family: "#{$name}";
		font-weight: $weight;
		font-style: $style;
	}
}
$browser-context: 14;

@function em($pixels, $context: $browser-context) {
  @return ($pixels / $context) * 1em;
}

@mixin font-size($sizeValue) {
    $pxValue: ($sizeValue * 10)px;
    $remValue: ($sizeValue)rem;
    font-size: $pxValue; 
    font-size: $remValue ;
}
@mixin text-shadow($string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: $string;
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
	  -webkit-box-shadow:inset $top $left $blur $color;
	  -moz-box-shadow:inset $top $left $blur $color;
	  box-shadow:inset $top $left $blur $color;
	} @else {
	  -webkit-box-shadow: $top $left $blur $color;
	  -moz-box-shadow: $top $left $blur $color;
	  box-shadow: $top $left $blur $color;
	}
  }

@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	box-sizing:         $type;
}

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
@mixin border-radiuses($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
	-webkit-border-radius:     $topright, $bottomright ,$bottomleft, $topleft;
	-moz-border-radius:        $topright, $bottomright ,$bottomleft, $topleft;
	border-radius:             $topright, $bottomright ,$bottomleft, $topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

@mixin opacity($opacity: 0.5) {
	-webkit-opacity: 	$opacity;
	-moz-opacity: 		$opacity;
	opacity: 		$opacity;
}

@mixin gradient ($startColor: #eee, $endColor: white) {
	background-color: $startColor;
	background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
	background: -webkit-linear-gradient(top, $startColor, $endColor);
	background: -moz-linear-gradient(top, $startColor, $endColor);
	background: -ms-linear-gradient(top, $startColor, $endColor);
	background: -o-linear-gradient(top, $startColor, $endColor);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=0 );
}
@mixin horizontal-gradient ($startColor: #eee, $endColor: white) {
 	background-color: $startColor;
	background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image: -moz-linear-gradient(left, $startColor, $endColor);
	background-image: -ms-linear-gradient(left, $startColor, $endColor);
	background-image: -o-linear-gradient(left, $startColor, $endColor);
}

@mixin animation ($name, $duration: 300ms, $delay: 0, $ease: ease) {
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation:    $name $duration $delay $ease;
	-ms-animation:     $name $duration $delay $ease;
}

@mixin transition ($transition) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition; 
	-o-transition:      $transition;  
}


//transform origin
@mixin transform-origin ($x, $y) {
    -moz-transform-origin: $x $y;
	     -o-transform-origin: $x $y;
	    -ms-transform-origin: $x $y;
	-webkit-transform-origin: $x $y;
          transform-origin: $x $y;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	  -o-transform: $transforms;
	 -ms-transform: $transforms;
 -webkit-transform: $transforms;
	   transform: $transforms;
}

@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
	@include transform(scale($scale));
} 
@mixin skew ($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}
@mixin transform ($string) {
	@include transform(transform($string));
}
@mixin translateZ ($string) {
	@include transform(translateZ($string));
}
@mixin translate3d ($x, $y: 0, $z: 0) {
	@include transform(translate3d($x, $y, $z));
}


@mixin perspective ($value: 1000) {
	perspective:           $value;
	-webkit-perspective:   $value;
	-moz-perspective:      $value;
	-ms-perspective:       $value;
	-o-perspective:           $value;
}

@mixin backface-visibility ($string){
    -webkit-backface-visibility:    $string;
    backface-visibility:            $string;
}

@mixin background-size($bsize) {
    -webkit-background-size: $bsize;
    -moz-background-size: $bsize;
    -o-background-size: $bsize;
    background-size: $bsize;
}


$primaryColor: #4A1786;
$secColor: #0097A9;

@mixin gradient-x($start-color: $primaryColor, $end-color: $secColor, $start-percent: 0%, $end-percent: 100%){
    background-image: linear-gradient(to bottom right, $start-color $start-percent, $end-color $end-percent);
    background-repeat: repeat-x
}


// Placeholder text
@mixin placeholder($color: $input-placeholder-color) {
	// Firefox
	&::-moz-placeholder {
	  color: $color;
	  opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
	}
	// Internet Explorer 10+
	&:-ms-input-placeholder {
	  color: $color;
	}
	// Safari and Chrome
	&::-webkit-input-placeholder {
	  color: $color;
	}
}

@mixin tooltip($type,$color-tooltip){
	display: inline-block;
	//tooltip
	.i-container{
		color: $color-tooltip;
		position: relative;
		&:hover{
			cursor: pointer;
			//@extend %box-shadow;
			border-radius: $border-radius;
			transform: scale(1.01);
			//transition: all .2s ease-in-out;
			.tooltip-custom--content{
				visibility: visible;
				opacity: 1;
				bottom: 24px;
			}
			.tooltip-custom--box{
				visibility: visible;
				opacity: 1;
				bottom: 20px;
			}
			i{
				color: #1E2432;
			}
		}
	} 

	.tooltip-custom{
		position: relative;
		
        &--content{
            visibility: hidden;
            position: absolute;
            bottom: 10px;
            #{$type}: -11px;
			max-width: 50rem;
			min-width: fit-content;
            z-index: 1000;
            border-radius: 0.3rem;
            padding: .3rem .6rem;
            background-color: #1E2432;
            color: $white;
            transition: all .5s ease-in-out;
            font-size: .857rem;
            i{
                padding: 0 .5rem;
            }
            
		}
		&--box{
			visibility: hidden;
			position: absolute;
			bottom: 6px;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			z-index: 1000;
			background-color: #1E2432;
			transition: all .5s ease-in-out;
		}
    }
}

// mixins for clearfix
// ------------------------
.clearfix {
	zoom: 1;
	&:before,
	&:after {
	  content: "";
	  display: table;
	}
	&:after {
	  clear: both;
	}
}
// *** Mixin for margin and padding
$direction: ("top": 1rem, "bottom": 1rem, "left": 1rem, "right": 1rem);
@each $directions , $size in $direction{
	.card-padding-#{$directions}{
	  padding-#{$directions}: $size;
	}
}

$direction: ("top": 1rem, "bottom": 1rem, "left": 1rem, "right": 1rem);
@each $directions , $size in $direction{
	.card-margin-#{$directions}{
	  margin-#{$directions}: $size;
	}
}


/* ==========================================================================
   Spacing Mixins
   ========================================================================== */

/**
 * Define these spacing variables
 */
//  $spacing-base: 28px;
//  $spacing-double: $spacing-base*2;
//  $spacing-triple: $spacing-base*3;
//  $spacing-half: $spacing-base/2;
//  $spacing-quarter: $spacing-half/2;
 
 /* 
  * Make sure you keep the names & sizes consistent. You can add as many spacing 
  * sizes as you feel necessary
  *
  * @TODO: Use SASS Maps instead
  */
//  $spacing-size-names: (double, triple, half, quarter);
//  $spacing-sizes: ($spacing-double, $spacing-triple, $spacing-half, $spacing-quarter);
 
 /**
  * Spacing mixin loops through all of the sizes (set in the ui/variables file)
  * and generates all the inivisble classes for margins and paddings.
  */
 
//  @mixin spacing($sides: (top, left, bottom, right), $types: (margin, padding)) {
 
// 	 /* 
// 	  * Loop through each type
// 	  *
// 	  * e.g. margin, padding
// 	  */
// 	 @each $type in $types {
 
// 		 /* e.g. %padding { padding: $spacing-base }  */
// 		 %#{$type} { #{$type}: $spacing-base; }
 
// 		 /* e.g. %padding-none { padding: 0 }  */
// 		 %#{$type}-none { #{$type}: 0; }
 
// 		 /* e.g. %padding--ends */
// 		 %#{$type}--ends {
// 			 #{$type}-top: $spacing-base;
// 			 #{$type}-bottom: $spacing-base;
// 		 }
 
// 		 %#{$type}-none--ends {
// 			 #{$type}-top: 0;
// 			 #{$type}-bottom: 0;
// 		 }
 
// 		 /* e.g. %padding--sides */
// 		 %#{$type}--sides {
// 			 #{$type}-left: $spacing-base;
// 			 #{$type}-right: $spacing-base;
// 		 }
 
// 		 %#{$type}-none--sides {
// 			 #{$type}-left: 0;
// 			 #{$type}-right: 0;
// 		 }
 
// 		 /* 
// 		  * Loop through each side and create the class for it
// 		  *
// 		  * e.g. padding--left: $amount
// 		  */
// 		 @each $side in $sides {
// 			 /* e.g. %padding--top */
// 			 %#{$type}--#{$side} {
// 				 #{$type}-#{$side}: $spacing-base;
// 			 }
 
// 			 %#{$type}-none--#{$side} {
// 				 #{$type}-#{$side}: 0;
// 			 }
// 		 }
 
// 		 /* 
// 		  * Loop through each size
// 		  *
// 		  * e.g. double, triple, half, quarter
// 		  */
// 		 @each $size in $spacing-size-names {
 
// 			 /* get the index of the current item in the loop */
// 			 $i: index($spacing-size-names, $size);
 
// 			 /* get the spacing size for whichever size name we are on */
// 			 $spacing-size: nth($spacing-sizes, $i);
 
// 			 /* Base padding for each size */
// 			 %#{$type}-#{$size} { #{$type}: $spacing-size; }
 
// 			 /* e.g. %padding-large--ends */
// 			 %#{$type}-#{$size}--ends {
// 				 #{$type}-top: $spacing-size;
// 				 #{$type}-bottom: $spacing-size;
// 			 }
 
// 			 /* e.g. %padding-large--sides */
// 			 %#{$type}-#{$size}--sides {
// 				 #{$type}-left: $spacing-size;
// 				 #{$type}-right: $spacing-size;
// 			 }
 
// 			 /* 
// 			  * Loop through each side and create the class for it
// 			  *
// 			  * e.g. padding-left: $amount, padding-right: $amount
// 			  */
// 			 @each $side in $sides {
 
// 				 /* e.g. %padding-large--top */
// 				 %#{$type}-#{$size}--#{$side} {
// 					 #{$type}-#{$side}: $spacing-size;
// 				 }
 
// 			 } // sides
 
// 		 } // sizes
 
// 	 } // types
 
//  } // spacing