//Variables
%box-shadow{
    -webkit-box-shadow: 3px 1px 7px 3px rgba(197, 206, 224, 0.5);
    -moz-box-shadow: 3px 1px 7px 3px rgba(197, 206, 224, 0.5);
    box-shadow: 3px 1px 7px 3px rgba(197, 206, 224, 0.5);
}

$border-radius: 5px;
$circle-border-radius: 100%;
$bar-border-radius: 45px;

$grid-gap: 10px;

