$buttons:("append":$primary-dark,"primary":$primary-dark,"default":$primary-light,
"success":$successful,"info":$info,"pending":$pending,
"danger":$error,);

$sizes:(
  status:(
    padding: px_to_rem(5) px_to_rem(14),
    font-size: px_to_em(10),
    font-weight: bold,
  ),
  small:(
    padding: px_to_rem(7) px_to_rem(9),
    font-size: px_to_em(14),
  ),
  big:(
    padding: px_to_rem(18) px_to_rem(38),
    font-size: px_to_em(20),
  ),
);
// Define cursor when hover
@mixin hover($cursor) { 
  &:hover{
    cursor: $cursor;
  }
}
// For button darken if hover
@mixin hover-dark($color) {
	&:hover{
	  cursor: pointer;
	  background-color: darken($color, 10%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
}
// Minus Outside wrapper
.button__wrapper{
  margin: 0 px_to_rem(-7);
  > .btn{
    margin: px_to_rem(7);
  }
}
//Apply to all button regardless border or not border
%button{
  &.btn{
    border-radius: unset;
    text-align: center;
    border: none;
    outline: none;
    transition: all 0.3s ease 0s;
    padding: px_to_rem(9) px_to_rem(28);
    text-transform: uppercase;
    &:hover{
      text-decoration: none;
    }
    &:focus , &:active{
      transform: scale(.95);
    }

    &:disabled{
      opacity: 0.5;
      cursor: not-allowed; 
    }
  }
}
@mixin btn($border:false, $color:none){
  @extend %button;
  @if $border == false{
    &.btn{
      border: 1px solid $color;
      color: $white;
      background-position: 100% 0;
      background-color: $color;
      &:not(:disabled):hover{
        color: $white;
        @include hover-dark($color);
      }
    }
  }@else{
    &.btn{
      color: $color;
      border: 1px solid $color;
      background-color: transparent;
      font-weight: 500;
      &.btn{
        &:not(:disabled):hover{
          border: 1px solid darken($color, 5%);
          color: $white;
          background-color: $color;
          @include hover-dark($color);
        }
        &:disabled{
          color: $color;
        }
      }
    }
  }
}
@each $name,$color in $buttons{
  @if $name == "primary"{
    .btn-#{$name} {
      @include btn($border:false, $color:$color);
      &:not(:disabled):hover ,&:active ,&:focus{
        color: $white;
        background-position: 0 0;
        background-size: 300%;
        @include hover-dark($color);
      }
      &.btn--disabled{
        @include btn($border:false, $color: lighten($color, 4%));
        color: #6381A3;
        cursor: not-allowed;
      }
    }

  }@else if $name == "default"{
    .btn-#{$name}{
      @include btn($border:true, $color:$color);
      &.btn--disabled{
        @include btn($border:true, $color: lighten($color, 4%));
        color: #6381A3;
        cursor: not-allowed;
      }
    }
  }@else{
    .btn-#{$name} {
      @include btn($border:true, $color:$color);
      &.btn--disabled{
        @include btn($border:true, $color: lighten($color, 4%));
        color: #6381A3;
        cursor: not-allowed;
      }
    }
  }
}
@each $name, $valueMap in $sizes {
  @if $name == "small"{
    .btn.btn-#{$name}{
        padding: map-get($valueMap, padding);
        font-size: map-get($valueMap, font-size);
        font-weight: map-get($valueMap, font-weight);
        border: none;
        border-radius: 100%;
        &:not(:disabled):hover:hover{
          border: none;
        }
      }
    } @else {
      .btn.btn-#{$name}{
        padding: map-get($valueMap, padding);
        font-size: map-get($valueMap, font-size);
        font-weight: map-get($valueMap, font-weight);
    }
  }
  @if $name == "status"{
    .btn.btn-#{$name}{
      @each $name,$color in $buttons{
        @if $name == "pending"{
          &.btn-#{$name} {
            background-color: $color;
            padding: map-get($valueMap, padding);
            color: $font-color;
            width: 100px;
            text-align: center;
            &:not(:disabled):hover:hover ,&:active ,&:focus{
              box-shadow: none;
              cursor: context-menu;
              background-color: $color;
              transform: scale(1);
              color: $font-color;
            }
            &.btn--disabled{
              color: #6381A3;
              cursor: not-allowed;
            }
          }
        }@else{
          &.btn-#{$name} {
            background-color: $color;
            padding: map-get($valueMap, padding);
            color: white;
            width: 100px;
            text-align: center;
            &:not(:disabled):hover:hover ,&:active ,&:focus{
              box-shadow: none;
              cursor: context-menu;
              background-color: $color;
              transform: scale(1);
            }
            &.btn--disabled{
              color: #6381A3;
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }
}
a{
  color: $primary-dark;
  text-decoration: none;
  &:hover{
    color: $primary-dark;
    cursor: pointer;
  }
  @each $name,$color in $buttons{
    @if $name == "primary"{
      .btn-#{$name} {
        @extend %button;
        @include gradient-bg();
        border: none;
        background-size: 100%;
        &:not(:disabled):hover{
          background-position: 0 0;
          background-size: 300%;
          @include hover-dark($color);
        }
        &.btn--disabled{
          @include btn($border:true, $color: lighten($color, 4%));
          color: #6381A3;
          cursor: not-allowed;
        }
      }
  
    }@else if $name == "default"{
      .btn-#{$name}{
        @include btn($border:true, $color:$color);
        &.btn--disabled{
          @include btn($border:true, $color: lighten($color, 4%));
          color: #6381A3;
          cursor: not-allowed;
        }
      }
    }@else{
      .btn-#{$name} {
        @include btn($border:false, $color:$color);
        &.btn--disabled{
          @include btn($border:false, $color: lighten($color, 4%));
          color: #6381A3;
          cursor: not-allowed;
        }
      }
    }
  }
}

.btn{
  i{
    vertical-align: text-top;
  }
}

//Button For Prime Vue
.p-button{
  background-color: transparent;
  border: 1px solid $primary-dark;
  color : $primary-dark;
  border-radius: 0;
  &-label{
    font-family: Roboto , 'Sans-serif';
    font-weight: 500;
    font-size: px_to_rem(12);
    text-transform: uppercase;
  }
  .p-button-icon.p-button-icon-left{
    display: none;
  }
  &:hover , &:active , &:focus{
    @include hover-dark($primary-dark);
  }

}
