.overthrow{
    overflow-x: auto;
    // &::-webkit-scrollbar {
    //     display: none;
    // }
}
table.table{
    // border: 1px solid $dark-grey;
    // border-radius: $border-radius;
    overflow: hidden;
    &__callibration{
        th,td{
            padding: px_to_rem(7);
        }
    }
    thead{
        background-color: $light-grey;
        th{
            color: $dark-grey;
            font-weight: bold;
            white-space: nowrap;
            border-bottom: none;
        }
    }
    td{
        // border-top: 1px solid $dark-grey;
        a{
            & + a{
                margin-left: 1rem;
            }
        }
        &[data-bs-toggle="modal"]{
            &:hover{
               cursor: pointer;
            }
        }
     
    }
    a{
        svg ,i{
            color: $dark-grey;
        }
        &.trash{
            i , svg{
                color: $danger;
            }
        }
    }
    .table{
        &__title{
            background-color: $medium-grey;
            font-weight: bold;
        }
        &__total{
            font-weight: bold;
        }
        &__action{
            display: flex;
            align-items: center;
            justify-content: center;
        }
     
    }
    &__summary{
        margin: 1rem 0;
        tr{
            td{
                &:first-child{
                    font-weight: bold;
                    padding-right: 1rem;
                    text-align: right;
                }
                &:last-child{
                    padding-left: 1rem;
                }
            }
        }
    }
}
.p-datatable {
    font-family: 'Roboto', sans-serif;
    .p-datatable-thead > tr > th{
        color: $font-color;
        background-color: $light-grey; 
        font-weight: 500;
        .p-column-title{
            font-weight: 500;
        }
    }
    .p-datatable-tbody > tr > td{
        padding: .7rem ;    
    }
    .p-datatable-header{
        background: none;
        border: none;
        padding: .5rem 0;
    }
    .p-paginator-bottom{
        margin-bottom: 2rem;
    }
}
