<template lang="pug">
//- Add Cards
Dialog(header="Header" v-model:visible="addCards" @update:visible="updatemodal")
    template(#header)
        h3 Add RFID Card
    .form-group
        label(for="cardid") Card ID
        input.form-control(type="text" placeholder="Card ID" v-model="cardid")
    .form-group
        label(for='operationLevel') Operation Level
        select.form-control#operationLevel(v-model="selectedOL")
            option(value='0', disabled='') Please Select Operation Level
            option(v-for='item in operationLevel', v-bind:value='{id: item.id, name: item.name}' v-if="roles == 0") {{item.name}}
            option(v-for='item in operationLevel.slice(1)', v-bind:value='{id: item.id, name: item.name}' v-if="roles != 0") {{item.name}}
    .form-group
        label(for='employee') Employee Name
        input.form-control(type="text" placeholder="Employee Name" v-model="employeename")        
    .form-group
        label(for='employee') Employee ID
        input.form-control(type="text" placeholder="Employee ID" v-model="employeeid")
    template(#footer)
        button.btn.btn-append(@click="updatemodal") Discard
        button.btn.btn-primary(type='button' v-on:click='RFIDSave') Add
</template>
<script>
export default {
    emits: ["cards-modal"],
    props: {
        addCards: Boolean,
    },
    data() {
        return {
            userid: parseInt(this.$cookies.get("UserID")),
            globalcompany: this.$cookies.get("CompanyID"),
            selectedOL: 0,
            cardid: '',
            employeeid: '',
            employeename: '',
            roles: this.$cookies.get("Roles"),
        }
    },
    mounted(){
        this.operationLevel;
    },
    computed:{
        operationLevel() {
            return this.$store.state.operationlevel;
        },
    },
    methods: {
        updatemodal(){
            this.$emit('cards-modal', false);
            this.cardid = "",
            this.selectedOL = "0",
            this.employeeid = "",
            this.employeename = ""
        },
        RFIDSave: function (event) {
            console.log("CompanyID : " + this.$cookies.get("CompanyID"));
            if (!this.cardid || !this.employeeid || !this.employeename || this.selectedOL.id === '0') {
                this.$toast.add({
                    severity: "error",
                    summary: "Form not complete",
                    detail: "Please fill in the card holder details",
                    life: 3000,
                });
            } else {
                const data = JSON.stringify({
                    cardid: this.cardid,
                    companyid: parseInt(this.$cookies.get("CompanyID")),
                    oplevel: this.selectedOL.id,
                    employeeid: this.employeeid,
                    employeename: this.employeename,
                    remarks: "New Created & Assign",
                    createuserid: this.userid,
                    modifyuserid: this.userid,
                });
                console.log(data);
                this.$store.commit("Get_Card", data);
                this.$store
                .dispatch("postAPIwithRandom", "newcard")
                .then((response) => {
                    if (response == 200) {
                        this.$toast.add({
                            severity: "success",
                            summary: "Success Message",
                            detail:
                            this.cardid +
                            " RFID card had assigned to " +
                            this.employeename,
                            life: 3000,
                        });
                        this.updatemodal();
                    } else {
                        console.log(response);
                        this.$toast.add({
                            severity: "error",
                            summary: "Failed",
                            detail: "Card " + this.cardid + " not able to register ",
                            life: 3000,
                        });
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.$toast.add({
                        severity: "error",
                        summary: "Failed",
                        detail: "Card " + this.cardid + " not able to register ",
                        life: 3000,
                    });
                });
            }
        },
    }
}
</script>
