<template lang="pug">
//- Modal Product Setting
Dialog(header="Header" v-model:visible="addProductSetting" @update:visible="updatemodal")
  template(#header)
    h3 Add Product Setting
  .row
    .col-lg-12
      .form-group
        label(for='producttitle') Product Title
        input#producttitle.form-control(type="text" placeholder="Product Title" v-model="producttitle")
    .col-lg-6
      .form-group
        label(for='producttype') Product Type
        input#producttype.form-control(type="text" placeholder="Product Type" v-model="producttype")
      .form-group
        label(for='productsize') Product Size
        input#productsize.form-control(type="text" placeholder="Product Size" v-model="productsize")
      .form-group
        label(for='inflatepressure') Inflate Pressure
        input#inflatepressure.form-control(type="text" placeholder="Inflate Pressure" v-model="inflatepressure")
      .form-group
        label(for='inflate1') Inflate 1
        input#inflate1.form-control(type="text" placeholder="Inflate 1" v-model="inflate1")
      .form-group
        label(for='inflate2') Inflate 2
        input#inflate2.form-control(type="text" placeholder="Inflate 2" v-model="inflate2")
      .form-group
        label(for='rejectassist') Reject Assist
        select.form-control#rejectassist(v-model="rejectassist")
          option No
          option Yes
      .form-group
        label(for='gloveillumination') Glove illumination
        select.form-control#gloveillumination(v-model="gloveillumination")
          option No
          option Yes
    .col-lg-6
      .form-group
        label(for='airrejectgood') Air Eject Good
        input#airrejectgood.form-control(type="text" placeholder="Air Eject Good" v-model="airrejectgood")
      .form-group
        label(for='airejectretest') Air Eject Retest
        input#airejectretest.form-control(type="text" placeholder="Air Eject Retest" v-model="airejectretest")
      .form-group
        label(for='starttest') Start Test
        input#starttest.form-control(type="text" placeholder="Start Test" v-model="starttest")
      .form-group
        label(for='testfor') Test For
        input#testfor.form-control(type="text" placeholder="Test For" v-model="testfor")
      .form-group
        label(for='passcode') Pass Code
        select.form-control#passcode(v-model="passcode")
          option(selected) NONE
          option PPPP
          option RRRR
          option FFFF
          option FFRP
          option RFFP
          option PRFF
      .form-group
        label(for='glovetype') Glove Type
        select.form-control#glovetype(v-model="glovetype")
          option Latex
          option Nitrile
          option Other
      .form-group(v-if="glovetype == 'OTHER'")
        label(for='stateglovetype') State Glove Type
        input#stateglovetype.form-control(type="text" placeholder="State Glove Type")
  template(#footer)
    button.btn.btn-append(@click="updatemodal") Discard
    button.btn.btn-primary(type='button' v-on:click='productSave') Add
</template>
<script>
export default {
    emits: ["product-setting-modal"],
    props: {
        addProductSetting: Boolean,
    },
    data() {
      return {
        userid: parseInt(this.$cookies.get("UserID")),
        globalcompany: this.$cookies.get("CompanyID"),
        producttitle : "",
        producttype : "",
        productsize : "",
        glovetype : "Latex",
        inflatepressure: '',
        inflate1 : "",
        inflate2 : "",
        rejectassist : "No",
        gloveillumination : "No",
        airrejectgood : "",
        airejectretest : "",
        starttest : "",
        testfor : "",
        passcode : "NONE",
        glovetype : "Latex",
        stateglovetype : "",
      }
    },
    mounted(){
    },
    computed:{
    },
    methods: {
      updatemodal(){
        this.$emit('product-setting-modal', false);
        this.producttitle = ""
        this.producttype = ""
        this.productsize = ""
        this.glovetype = "Latex"
        this.inflatepressure =''
        this.inflate1 = ""
        this.inflate2 = ""
        this.rejectassist = "No"
        this.gloveillumination = "No"
        this.airrejectgood = ""
        this.airejectretest = ""
        this.starttest = ""
        this.testfor = ""
        this.passcode = "NONE"
        this.glovetype = "Latex"
        this.stateglovetype = ""
      },
      productSave: function () {
        console.log(this.$store.state.currentcompany);
        if (
          !this.producttitle ||
          !this.producttype ||
          !this.productsize ||
          !this.glovetype
        ) {
          this.$toast.add({
            severity: "error",
            summary: "Form not complete",
            detail: "Please fill in the product details",
            life: 3000,
          });
        } else {
          const data = JSON.stringify({
            producttitle: this.producttitle,
            producttype: this.producttype,
            productsize: this.productsize,
            inflatepressure: this.inflatepressure,
            inflate1: parseInt(this.inflate1),
            inflate2: parseInt(this.inflate2),
            rejectassist: parseInt(this.rejectassist == "Yes" ? 0 : 1),
            gloveillumination: parseInt(this.gloveillumination == "Yes" ? 0 : 1),
            airrejectgood: this.airrejectgood,
            airejectretest: parseInt(this.airejectretest),
            starttest: parseInt(this.starttest),
            testfor: parseInt(this.testfor),
            passcode: this.passcode,
            glovetype: this.glovetype,
            stateglovetype: this.stateglovetype,
            companyid: parseInt(this.globalcompany),
            createuserid: this.userid,
            modifyuserid: this.userid,
          });
          this.$store.commit("GET_ProductSetting", data);
          this.$store
            .dispatch("postAPIwithRandom", "newproduct")
            .then((response) => {
              if (response == 200) {
                //Do message pop up here
                //Close the modal
                this.$toast.add({
                  severity: "success",
                  summary: "Success",
                  detail: "Product Setting had updated",
                  life: 3000,
                });
                this.$store.dispatch("getProductSetting", this.globalcompany);
                this.updatemodal();
              }
            })
            .catch((error) => {
              this.$toast.add({
                severity: "error",
                summary: "Failed",
                detail: "Product Setting not able to update",
                life: 3000,
              });
              console.log(error);
            });
        }
      },
    }
}
</script>
