<template lang="pug">
ChargesRateModal(
    :chargesRate="chargesRate"
    :dispatchRate="ReportSelectedCompany"
    @charges-rate-modal="ChargesRateModal"
)
//- Modal Add Report
Dialog(header="Header" v-model:visible="addReport"  @update:visible="updatemodal")
    template(#header)
        h3 Create Report
    .row
        .col-lg-12
            .form-group
                label(for='company') Company Name
                select.form-control#company(v-model="ReportSelectedCompany")
                    option(value='0', disabled='') Please Select Company
                    option(v-for='item in companylist', v-bind:value='{id: item.Id, name: item.CompanyName}') {{item.CompanyName}}
            .form-group
                label(for="reportid") Report ID
                input#reportid.form-control(type="text" placeholder="Report ID"  v-model='inputreportid')
            .form-group
                label(for="reportnotes") Notes
                input#reportnotes.form-control(type="text" placeholder="Notes"  v-model='inputreportnotes')
        .col-lg-6
            h6.my-2 Date
            .form-group
                label(for="serial") Report Date Range
                Calendar(v-model="SelectedDate" yearRange="1900:2100" selectionMode="range" )
            

        .col-lg-6
            h6.mt-2 Machine
            .mt-4
                multiselect.multiselect-custom(v-model='selectedMachine' :options='MachineList' optionlabel='name' placeholder='Select Machines' :filter='true')
                    template(#value='slotProps')
                        .country-item.country-item-value(v-for='option of slotProps.value' :key='option.Id')
                            div {{option.SerialNumber}}
                        template(v-if='!slotProps.value || slotProps.value.length === 0')
                            | Select Machine
                    template(#option='slotProps')
                        .country-item
                            div {{slotProps.option.SerialNumber}}
        .col-lg-6   
            .d-flex.align-items-center.justify-content-between.my-2.mt-5
                h6 Calculations
                .btn.btn-append(@click="openModal()") Rate 
            .form-group
                label(for='currency') Currency
                select.form-control(v-model='selectedCurrency')
                    option USD
                    option MYR
            .form-group
                label(for="discounts") Discounts (%)
                input#discounts.form-control(type="text" placeholder="Discounts (%)" v-model='inputreportdiscount')
    template(#footer)
        button.btn.btn-append(@click="updatemodal") Discard
        button.btn.btn-primary(type='button' @click="calculateReport()") Create
</template>
<style lang="scss" scoped>
.p-multiselect.multiselect-custom{
    width: 100%;
}
</style>
<script>
import ChargesRateModal from "@/components/ChargesRateModal.vue";

export default {
    emits: ["report-modal"],
    props: {
        addReport: Boolean,
    },
    components: {
        ChargesRateModal,
    },
    data(){
        return{
            chargesRate : false,
            globalcompany: this.$cookies.get("CompanyID"),
            userid: parseInt(this.$cookies.get("UserID")),
            SelectedDate: null,
            ReportSelectedCompany: 0,
            selectedMachine: null,
            selectedCurrency: null,
            inputreportid : null,
            inputreportnotes : null,
            inputreportdiscount : null,
        }
    },
    computed:{
        companylist() {
            return this.$store.state.companylist;
        },
        MachineList() {
            return this.$store.state.machinelist;
        },
    },
    watch: {
        glovetype: function (val) {
            console.log(val);
        },
        ReportSelectedCompany: function (val) {
            console.log(val);
            if (val != null) this.$store.dispatch("getMachineList", val.id);
        },
        selectedMachine: function (val) {
            console.log(val[0].Id);
        },
    },
    methods: {
        updatemodal(){
            this.$emit('report-modal', false);

            // Clear all text field function here

        },
        ChargesRateModal(event){
            this.chargesRate = event
        },
        openModal(){
            this.chargesRate = true
        },
        calculateReport(){
            // get report data
            const data = JSON.stringify({
                reportcompany : this.ReportSelectedCompany,
                reportmachines: this.selectedMachine,
                reportdate: this.SelectedDate,
                reportcurrency : this.selectedCurrency,
                reportid: this.inputreportid,
                reportnotes: this.inputreportnotes,
                reportdiscount: this.inputreportdiscount,
            })
            console.log(data);
            let route = this.$router.resolve({ path: "/report-preview" });
            window.open(route.href);
        }
    }
}
</script>