<template lang="pug">
//- Modal Charges Rate
Dialog(header="Header" v-model:visible="chargesRate"  ref='formDialog' @update:visible="updatemodal")
    template(#header)
        h3 Charges Rate
        .mb-4
    .sub-title.mb-1 Input Currency
    .form-group
        label(for='currency') Currency
        select.form-control#currency
            option USD
            option MYR
    .sub-title.mb-1 Charges Rate (per kcps of glove) 
    .form-group
        label(for="passrate") Pass
        input#passrate.form-control(type="text" placeholder="Pass Price" v-model="passrate")
    .form-group
        label(for='retestrate') Retest
        input#retestrate.form-control(type="text" placeholder="Retest Price" v-model="retestrate")
    .form-group
        label(for='failrate') Fail
        input#failrate.form-control(type="text" placeholder="Fail Price" v-model="failrate")
    .form-group
        label(for='rejectrate') Reject
        input#rejectrate.form-control(type="text" placeholder="Reject Price" v-model="rejectrate")
    .form-group
        label(for='nogloverate') No glove
        input#nogloverate.form-control(type="text" placeholder="No glove Price" v-model="nogloverate")
    
    template(#footer)
        .d-flex.justify-content-between.align-items-center
            .small.mr-auto  Last Updated: {{ this.rate }}
            div
                button.btn.btn-append(@click="updatemodal") Close
                button.btn.btn-primary(type='button' v-on:click='rateSave') Save
</template>
<script>
export default {
  props: {
    chargesRate: Boolean,
    // dispatchRate : Object,
  },
  data() {
    return {
      userid: parseInt(this.$cookies.get("UserID")),
      //   passrate: this.$store.state.rate.PassRate,
      //   retestrate: this.$store.state.rate.RetestRate,
      //   failrate: this.$store.state.rate.FailRate,
      //   nogloverate: this.$store.state.rate.NoGloveRate,
      //   rejectrate: this.$store.state.rate.RejectRate,
    };
  },
  computed: {
    rate() {
      if (this.$store.state.rate != null) {
        // this.dataupdated = this.$store.state.rate.ModifyDate;
        // this.passrate = this.$store.state.rate.PassRate;
        // this.retestrate = this.$store.state.rate.RetestRate;
        // this.failrate = this.$store.state.rate.FailRate;
        // this.nogloverate = this.$store.state.rate.NoGloveRate;
        // this.rejectrate = this.$store.state.rate.RejectRate;
        return this.$store.state.rate.ModifyDate;
      } else {
        this.passrate = "";
        this.retestrate = "";
        this.failrate = "";
        this.nogloverate = "";
        this.rejectrate = "";
        return "";
      }
    },
  },
  // watch:{
  //     dispatchRate(val){
  //         this.$store.dispatch("getRateSetting", val.id);
  //     }
  // },
  methods: {
    updatemodal() {
      this.$emit("charges-rate-modal", false);
    },
    rateSave: function (event) {
      if (
        !this.passrate ||
        !this.retestrate ||
        !this.failrate ||
        !this.rejectrate ||
        !this.nogloverate
      ) {
        this.$toast.add({
          severity: "error",
          summary: "Form not complete",
          detail: "Please fill in the rate details",
          life: 3000,
        });
      } else {
        const data = JSON.stringify({
          passrate: parseInt(this.passrate),
          retestrate: parseInt(this.retestrate),
          failrate: parseInt(this.failrate),
          companyid: parseInt(this.$cookies.get("CompanyID")),
          rejectrate: parseInt(this.rejectrate),
          nogloverate: parseInt(this.nogloverate),
          createuserid: this.userid,
          modifyuserid: this.userid,
        });
        console.log(data);
        //Do a confirmation alert box
        this.$confirm.require({
          message: "Are you sure you want to proceed?",
          header: "Confirmation",
          icon: "pi pi-exclamation-triangle",
          accept: () => {
            //callback to execute when user confirms the action
            this.$store.commit("GET_RateSetting", data);
            this.$store
              .dispatch("postAPIwithRandom", "newrate")
              .then((response) => {
                if (response == 200) {
                  //Do message pop up here
                  this.$toast.add({
                    severity: "success",
                    summary: "Success Message",
                    detail: "Rate had updated",
                    life: 3000,
                  });
                  this.$store.dispatch(
                    "getRateSetting",
                    parseInt(this.$cookies.get("CompanyID"))
                  );
                  this.updatemodal();
                }
              })
              .catch((error) => {
                //Do Fail saved message
                this.$toast.add({
                  severity: "error",
                  summary: "Rejected",
                  detail: "Rate updated fail",
                  life: 3000,
                });
              });
          },
          reject: () => {
            this.$toast.add({
              severity: "error",
              summary: "Rejected",
              detail: "Rate updated fail",
              life: 3000,
            });
          },
        });
      }
    },
  },
};
</script>
