.machine{

    &__graph{
        h5{
            margin: 1rem 0;
        }
    }
    &__wrapper{
        padding: px_to_rem(14) px_to_rem(14);
        margin: px_to_rem(7) 0;
        background-color: $light-grey;
        h5{
            margin-bottom: px_to_rem(14);
            @include media-breakpoint-down(md){
                    margin-top: 2rem;
            }
        }
        .form-group{
            display: flex;
            align-items: center;
            label{
                min-width: 155px;
                margin-bottom: 0;
                font-size: 1rem;
            }
            @include media-breakpoint-down(md){
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &--list{
            position: relative;
            margin: px_to_rem(14) 0;
            background-color: $light-grey;
            transition: .2s all ease-in-out;
            &:hover{
                transform: scale(1.03);
            }
            a.btn-danger{
                position: absolute;
                right: 0;
                top: 0;
                padding: .7rem 1rem;
            }
        }
    }
    &__individual{
        display: flex;
        align-items: center;
        background-color: $light-grey;
        padding: px_to_rem(14);
        background-blend-mode: multiply;
        color: $font-color;
        &:hover{
            text-decoration: none;
        }
        // Block Color
        .operating{
            background-color: $successful;
            color: white;
        }
        .off{
            background-color: $error;
            color: white;
        }
        .standby{
            background-color: $warning;
            color: $font-color;
        }
        .img{
            max-height: calc((100vh - 140px) / 4);
            width: 50%;
            height: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: $light-grey;
            background-blend-mode: multiply;
            &.operating{
                background-image: url('../src/assets/img/machine-icon/operating.gif');
            }
            &.off{
                background-image: url('../src/assets/img/machine-icon/off.png');
            }
            &.standby{
                background-image: url('../src/assets/img/machine-icon/standby.png');
            }
        }
        &--label{
            padding: px_to_rem(7);
            text-align: center;
            text-transform: uppercase;
            font-size: px_to_rem(12);
            margin-bottom: px_to_rem(12);
        }
    }
}
//Machine Details
.test-distribution__wrapper{
    display: flex;
    margin: 0 px_to_rem(-7); 
    @include media-breakpoint-down(md){
        flex-direction: column;
    }
    > div{
        flex : 1;
        margin: 0 px_to_rem(7); 
        padding: px_to_rem(7); 
        small{
            text-transform: uppercase;
            
        }
        h3{
            margin: px_to_rem(3.5) 0;
        }
    }
}
.fixed{
    position: fixed;
    right: 0;
    
    &__callibration, &__license{
        &.nav-link{
            width: 95px;
            text-transform: uppercase;
            font-size: .75rem;
            text-align: center;
            background-color: $background-grey;
            &:hover, &:focus &:active, &.active{
                border: none;
            }
        }
    }
    &__callibration{
        top: 50%;
    }
    &__license{
        top: 55%; 
    }
    &__machine{
        top: 18%;
        padding: .7rem 2rem;
        z-index: 1000;
        &.operating{
            background-color: $background-green;
        }
        &.off{
            background-color: $light-grey;
        }
        &.standby{
            background-color: $background-yellow;
        }
    }
}
.tab-content > .tab-pane {
    padding: 1rem 2rem;
    background-color: $light-grey;
    .form-group{
        .form-control{
            background-color: white;
        }
    }
}