.matter{
    &Info{
        background-color: $light-grey;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__action{
            @include center(flex-end);
            i,svg{
                color: $icon-color;
            }
        }
        &__img{
            width: 135px;
            height: 135px;
            border-radius: 100%;
            background-color: $dark-grey;
            margin: 2rem auto;
        }
        &__content{
            .form-group{
                label{
                    margin-bottom: 0;
                }
                .form-control-label{
                    font-size: px_to_rem(14);
                }
            }
        }
        &__button{
            @include center();
            flex-direction: column;
            align-items: stretch;
            margin-top: 1rem;
            > .btn{
                + .btn{
                    margin-top: .5rem;
                }
            }
        }
    }
}